<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1>
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
                {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
            </span>
            Additional details
        </h1>

        <form action="additional-details" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-input--width-20" for="knownAs">
                    Known as<span class="optional-span"> (optional) </span>
                </label>
                <input class="nhsuk-input nhsuk-input--width-20 " id="knownAs" name="knownAs" type="text">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-input--width-20" for="hospitalNumber">
                    Hospital number <span class="optional-span"> (optional) </span>
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="hospitalNumber" name="hospitalNumber" type="text">
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend">
                    <p class="nhsuk-fieldset__heading">
                      Sex <span class="optional-span"> (optional) </span>
                    </p>
                  </legend>
              
                  <div class="nhsuk-radios">
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="your-sex-male" name="your-sex" type="radio" value="male">
                      <label class="nhsuk-label nhsuk-radios__label" for="your-sex-male">
                        Male
                      </label>
                    </div>
              
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="your-sex-female" name="your-sex" type="radio" value="female">
                      <label class="nhsuk-label nhsuk-radios__label" for="your-sex-female">
                        Female
                      </label>
                    </div>
              
                  </div>
                </fieldset>
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="dateOfDeath-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                    Date of death
                  </legend>
                  <div class="nhsuk-hint" id="dateOfDeath-hint">
                    For example, 15 3 2021
                  </div>
                  <div class="nhsuk-date-input" id="dateOfDeath">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dateOfDeath-day">
                          Day
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dateOfDeath-day"
                          name="dodDay" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dateOfDeath-dodMonth">
                          Month
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dateOfDeath-dodMonth"
                          name="dodMonth" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="dateOfDeath-dodYear">
                          Year
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dateOfDeath-dodYear"
                          name="dodYear" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="timeOfDeath-hint" role="group">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                    Time of death
                  </legend>
                  <div class="nhsuk-hint" id="timeOfDeath-hint">
                    Use 24 hour format. For example, 16 23
                  </div>
                  <div class="nhsuk-date-input" id="timeOfDeath">
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="timeOfDeath-hour">
                          Hour
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="timeOfDeath-hour"
                          name="todHour" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                    <div class="nhsuk-date-input__item">
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-date-input__label" for="timeOfDeath-todMinute">
                          Minutes
                        </label>
                        <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="timeOfDeath-todMinute"
                          name="todMinute" type="text" pattern="[0-9]*" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                  <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                    Request for rapid release?
                  </legend>
                  <div class="nhsuk-radios">
        
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="requestForRapidRelease" name="requestForRapidRelease" type="radio"
                        value="yes">
                      <label class="nhsuk-label nhsuk-radios__label" for="requestForRapidRelease">
                        Yes
                      </label>
                    </div>
                    <div class="nhsuk-radios__item">
                      <input class="nhsuk-radios__input" id="requestForRapidRelease-no" name="requestForRapidRelease"
                        type="radio" value="no">
                      <label class="nhsuk-label nhsuk-radios__label" for="requestForRapidRelease-no">
                        No
                      </label>
                    </div>
        
                  </div>
                </fieldset>
              </div>            

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                        Home address <span class="optional-span"> (optional) </span>
                    </legend>
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="addressLine1">
                            Address line 1 <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine1" name="addressLine1"
                            type="text">
                    </div>
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-input--width-20" for="addressLine2">
                            Address line 2 (optional) <span class="nhsuk-u-visually-hidden">line 2 of 2</span>
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="addressLine2" name="addressLine2"
                            type="text">
                    </div>
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-input--width-20" for="townOrCity">
                            Town or city <span class="optional-span"> (optional) </span>
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="townOrCity" name="townOrCity"
                            type="text">
                    </div>
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="county">
                            County <span class="optional-span"> (optional) </span>
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-20" id="county" name="county" type="text">
                    </div>
                    <div class="nhsuk-form-group">
                        <label class="nhsuk-label nhsuk-input--width-10" for="postCode">
                            Postcode
                        </label>
                        <input class="nhsuk-input nhsuk-input--width-10" id="postCode" name="postCode"
                            type="text">
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="mainJob">
                    Main job <span class="optional-span"> (optional) </span>
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="mainJob" name="mainJob"
                    type="text">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-two-thirds" for="furtherOccupationInfo">
                    Details about past jobs (optional)
                </label>
                <div class="nhsuk-hint" id="furtherOccupationInfo-hint">
                    For example, if the deceased person worked with harmful chemicals.
                </div>
                <textarea class="nhsuk-textarea nhsuk-u-width-two-thirds" id="furtherOccupationInfo"
                    name="furtherOccupationInfo" rows="5"></textarea>
            </div>

            <button class="nhsuk-button" id="save-and-continue-button" type="submit">
                Save and continue
            </button>

        </form>

    </div>

</div>

{% endblock %}