<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>
            <span class="nhsuk-caption-m nhsuk-caption--bottom">

                Communication and concerns
                - {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
            </span>
            Check communication details
        </h1>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Raised by
                </dt>
                <dd class="nhsuk-summary-list__value" id="raised-by-value">
                    {{ data['contactFirstNames'] }} {{ data['contactLastName'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="raised-by-change-link" href="#">Change
                        <span class="nhsuk-u-visually-hidden">who raised the concern</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Relationship
                </dt>
                <dd class="nhsuk-summary-list__value" id="raised-by-value">
                    {{ data['contactRole'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="raised-by-change-link" href="#">Change
                        <span class="nhsuk-u-visually-hidden">Relationship</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Date and time raised
                </dt>
                <dd class="nhsuk-summary-list__value" id="date-time-value">
                    {{ data['dodDayCommsConcern'] }}/{{ data['dodMonthCommsConcern'] }}/{{ data['dodYearCommsConcern'] }}
                    <br>
                    {{ data['todHourCommsConcern'] }}:{{ data['todMinuteCommsConcern'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="date-time-raised-change-link" href="#">Change
                        <span class="nhsuk-u-visually-hidden">date and time raised</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Conversation details
                </dt>
                <dd class="nhsuk-summary-list__value" id="conversation-details-value">
                    {{ data['detailsOfDiscussionCommsConcern'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="conversation-details-change-link" href="#">Change
                        <span class="nhsuk-u-visually-hidden">discussion detais</span></a>
                </dd>
            </div>
            {% if data['recordAsConcernMain'] == 'no' %}
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Concern raised?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="concern-raised-value">
                        {{ data['recordAsCommsConcern'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="concern-raised-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">concern raised</span></a>
                    </dd>
                </div>
            {% endif %}
            
            <!-- If raise as concern answers have been provided (radio buttons) -->
            {% if data['recordAsConcernComms'] == 'yes' %}
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Recommended for case record review?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="concern-raised-value">
                        {{ data['commscaseReviewRecommended'] }}<br>
                        {{ data['comms-record-review-email'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="concern-raised-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">Recommended for case record review?</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Recommended for other clinical governance process review?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="concern-raised-value">
                        {{ data['commsclinicalReviewRecommended'] }}<br>
                        {{ data['comms-governance-process-email'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="concern-raised-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">Recommended for other clinical governance process review?</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Patient safety incident?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="concern-raised-value">
                        {{ data['commspatientSafetyIncident'] }}<br>
                        {{ data['comms-patient-safety-email'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="concern-raised-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">Patient safety incident?</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Main contact been made aware of PALS?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="concern-raised-value">
                        {{ data['commsreferToPals'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="concern-raised-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">Recommended for referral to PALS?</span></a>
                    </dd>
                </div>
            {% endif %}
        </dl>

        {% if data['recordAsConcernMain'] == 'no' %}
        <p><a id="raise-concern-link" href="main-raise-concern">Raise concern</a></p>
        {% endif %}
        <a id="return-to-communicaition-concerns-link" href="comms-concerns">Return to Communication and concerns</a>

    </div>
</div>

{% endblock %}