<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

{% block breadcrumbs %}
<nav class="nhsuk-breadcrumb nhsuk-u-padding-bottom-0" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../open-cases">Open cases</a></li>
      <li class="nhsuk-breadcrumb__item">Coroner notification - Emmit Mar</li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="/level-one/level-two/level-three">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Level three
      </a>
    </p>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-u-margin-bottom-7">
            Coroner notification
        </h1>
    </div>

    <!-- ================================================== -->
    <!-- ADDITIONAL DETAILS -->
    <!-- ================================================== -->

    <div class="nhsuk-grid-column-full">

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal">
                <a href="notification-method">Notify the coroner about this case</a>
              </dt>
              <dd class="nhsuk-summary-list__actions">
                <strong class="nhsuk-tag nhsuk-tag--white align-right">
                    Not started
                </strong>
              </dd>
            </div>
        </dl>

    </div>


</div>

{% endblock %}

{% block sideNav %}
<div class="side-nav">
    <h3>Emmit Mar
        <span class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-top-2">
            <strong class="nhsuk-tag nhsuk-tag--blue">Routine</strong>
        </span>
    </h3>
    <ul>
        <div id="options" class="options">
            <li><a href="case-details">Case details</a></li>
            <li><a href="case-scrutiny">Case scrutiny</a></li>
            <li><a href="comms-concerns">Communication and concerns</a></li>
            <li><a class="active" href="coroner-notification">Coroner notification</a></li>
        </div>
    </ul>
</div>
{% endblock %}