<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}




<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
   <section class="key-details">
     <ul>
       <li>
         <div class="patient-name">
           <span class="p-name">Patient name:</span>
           <h1>{{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}</h1>
         </div>
       </li>
       <li>
         <span>NHS number:</span>
         <p>{{ data['ref-NHSnumber'] }} </p>
       </li>
       <li>
         <span>Date of death:</span>
         <p>{{ data['dodDayCreate'] }} <span class="convert-month" style="display:inline">{{ data['dodMonthCreate'] }}</span> {{ data['dodYearCreate'] }}</p>
       </li>
       <li>
         <span>Place of death:</span>

       </li>
      <!-- <li>
         <a href="#" class="nhsuk-button nhsuk-button--secondary mb0">Close case</a>
       </li> -->
     </ul>
   </section>
    
  </div>
</div>




<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
        
    <h1 class="nhsuk-heading-l mb0">
      Case details <span class="nhsuk-caption-m caption-progress">

      {% if data['nok-first-name'] %}
        <b>Progress:</b> 2 of 4 sections complete
      {% else %}
        <b>Progress:</b> 1 of 4 sections complete
      {% endif %}
     
    </span>
    </h1> 
    <p class="header-status">Status: <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong></p>
    
    
    
    <div class="nhsuk-card">
  
    
      <div class="nhsuk-card__content">

        
        <h2 class="nhsuk-heading-m">
          <span class="section-main-title">Patient details</span> 
          <strong class="nhsuk-tag nhsuk-tag--green">Complete</strong>
        </h2>
        
        
        
        <dl class="nhsuk-summary-list">
            
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Name
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
             </dd>
           </div>
          
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Date of death
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['dodDayCreate'] }} <span class="convert-month">{{ data['dodMonthCreate'] }}</span> {{ data['dodYearCreate'] }}
             </dd>
           </div>
           
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Time of death
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['todHourCreate'] }}:{{ data['todMinuteCreate'] }}
             </dd>
           </div>
           
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Urgent release
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['requestForRapidRelease'] }}
             </dd>
           </div>
          
          
          
          <!-- ================================================== -->
          <!-- ADDITIONAL DETAILS ->
          <!-- ================================================== -->
          
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name deceased also known as
            </dt>
            <dd class="nhsuk-summary-list__value">
            {{ data['knownAs'] }} 
            </dd>
          </div>
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['dobDay'] and data['dobMonth'] and data['dobYear'] %}
                {{ data['dobDay'] }} / {{ data['dobMonth'] }} / {{ data['dobYear'] }}
              {% else %}
                15/11/1992
              {% endif %}
            </dd>
          </div>
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Home address
            </dt>
            <dd class="nhsuk-summary-list__value">
            {% if data['homeAddressKnown'] == 'yes' %}
            {{ data['addressLine1'] }}<br>
            {% if data['addressLine2'] %}{{ data['addressLine2'] }}<br>{% endif %}
            {% if data['townOrCity'] %}{{ data['townOrCity'] }}<br>{% endif %}
            {% if data['county'] %}{{ data['county'] }}<br>{% endif %}
            {{ data['postCode'] }}
            {% else %}
            Not known
            {% endif %}
            </dd>
          </div>
          
          {% if data['ref-NHSnumber'] %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                NHS number
              </dt>
              <dd class="nhsuk-summary-list__value">
              {{ data['ref-NHSnumber'] }} 
              </dd>
            </div>
          {% endif %}
          
          {% if data['ref-RXRnumber'] %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                RXR number
              </dt>
              <dd class="nhsuk-summary-list__value">
              {{ data['ref-RXRnumber'] }} 
              </dd>
            </div>
          {% endif %}
          
          {% if data['ref-patientrefnumber'] %}
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
              Patient reference number
              </dt>
              <dd class="nhsuk-summary-list__value">
              {{ data['ref-patientrefnumber'] }} 
              </dd>
            </div>
          {% endif %}
          
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
            Deceased person's job
            </dt>
            <dd class="nhsuk-summary-list__value">
            {{ data['furtherOccupationInfo'] }}
            </dd>
          </div>
          
          
          </dl>

          <div class="nav-flow">
            <a href="../../ME-MEO/create-new-case" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
             Make changes
           </a>
         </div>
    
      </div>
    </div>
  
  
  


  <div class="nhsuk-card">

  
    <div class="nhsuk-card__content">
  
      <!-- ================================================== -->
      <!-- LOCATION OF DEATH -->
      <!-- ================================================== -->
      
      <h2 class="nhsuk-heading-m">Location of death 
      {% if data['locationOfDeathType'] %}
       <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
       {% else %}
       <strong class="nhsuk-tag nhsuk-tag--white align-right">Not started</strong>
     {% endif %}
      </h2>



{% if data['locationOfDeathType'] %}


{% if data['locationOfDeathType']=='locationOfDeathType-H'%}
      <!-- Hospital Acute -->
       <dl class="nhsuk-summary-list">
         
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Location of death
             </dt>
             <dd class="nhsuk-summary-list__value">
               Hospital or acute setting
             </dd>
             <dd class="nhsuk-summary-list__actions">
               <a href="location-of-death">
                 Change<span class="nhsuk-u-visually-hidden"> location of death</span>
               </a>
             </dd>
           </div>
           
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Healthcare provider
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['healthCareProvider'] }}
             </dd>
             <dd class="nhsuk-summary-list__actions">
               <a href="hospital-acute-setting#healthCareProvider">
                 Change<span class="nhsuk-u-visually-hidden"> location of death</span>
               </a>
             </dd>
           </div>
           
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Location details
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['locationDetails'] }}
             </dd>
             <dd class="nhsuk-summary-list__actions">
               <a href="hospital-acute-setting#locationDetails">
                 Change<span class="nhsuk-u-visually-hidden"> location details</span>
               </a>
             </dd>
           </div>
           
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Date of admission
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['doaDay'] }}/{{ data['doaMonth'] }}/{{ data['doaYear'] }}
             </dd>
             <dd class="nhsuk-summary-list__actions">
               <a href="hospital-acute-setting#dateOfAdmission">
                 Change<span class="nhsuk-u-visually-hidden"> date of admission</span>
               </a>
             </dd>
           </div>
      
           <div class="nhsuk-summary-list__row">
             <dt class="nhsuk-summary-list__key">
               Time of admission
             </dt>
             <dd class="nhsuk-summary-list__value">
               {{ data['todHourAdmissionCreate'] }}:{{ data['todMinuteAdmissionCreate'] }}
             </dd>
             <dd class="nhsuk-summary-list__actions">
               <a href="hospital-acute-setting#timeOfAdmission">
                 Change<span class="nhsuk-u-visually-hidden"> time of admission</span>
               </a>
             </dd>
           </div>

         <div class="nhsuk-summary-list__row">
           <dt class="nhsuk-summary-list__key">
             Admission details
           </dt>
           <dd class="nhsuk-summary-list__value">
             {{ data['admissionDetails'] }}
           </dd>
           <dd class="nhsuk-summary-list__actions">
             <a href="hospital-acute-setting#admissionDetails">
               Change<span class="nhsuk-u-visually-hidden"> admission details</span>
             </a>
           </dd>
         </div>

       </dl>
{% else %}

      <!-- Community or non-acute setting -->
       <dl class="nhsuk-summary-list">
         <div class="nhsuk-summary-list__row">
           <dt class="nhsuk-summary-list__key">
             Location of death
           </dt>
           <dd class="nhsuk-summary-list__value">
             Community or non-acute setting
           </dd>
           <dd class="nhsuk-summary-list__actions">
             <a href="location-of-death">
               Change<span class="nhsuk-u-visually-hidden"> location of death</span>
             </a>
           </dd>
         </div>
         
         <div class="nhsuk-summary-list__row">
           <dt class="nhsuk-summary-list__key">
             Location details
           </dt>
           <dd class="nhsuk-summary-list__value">
             Same as home address
           </dd>
           <dd class="nhsuk-summary-list__actions">
             <a href="community-non-acute">
               Change<span class="nhsuk-u-visually-hidden"> location details</span>
             </a>
           </dd>
         </div>
       </dl>
       {% endif %}

      
      {% else %}
      
       <p>No details have been added for the location of death.</p>
        <div class="nav-flow">
          <a href="location-of-death-alt" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
           Add details for the location of death
         </a>
       </div>
      
      {% endif %}
  
    </div>
  </div>









  
  
  
  
  <div class="nhsuk-card">

  
    <div class="nhsuk-card__content">
  
     <!-- ================================================== -->
     <!-- NEXT OF KIN DETAILS -->
     <!-- ================================================== -->
     
     
     <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">Next of kin details 
       
       
       {% if data['nok-first-name'] %}
       <strong class="nhsuk-tag nhsuk-tag--green align-right">Complete</strong>
       {% else %}
       <strong class="nhsuk-tag nhsuk-tag--white align-right">Not started</strong>
     {% endif %}
     
     </h2>
     
     
     
     <!-- NEXT OF KIN DETAILS IF STATMENT FOR COMPLETE & DRAFT STATUS-->
     
     
     {% if data['nok-first-name'] %}
       

      <dl class="nhsuk-summary-list">
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Name
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nok-first-name'] }} {{ data['nok-last-name'] }} 
          </dd>
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Relationship to the deceased person
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nok-relationship'] }} 
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Phone number
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['nok-phone'] }}
          </dd>
        </div>
        
       <!--<div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              How are you contacting the next of kin?
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['nok-contact'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="next-of-kin#nok-contact">
              Change<span class="nhsuk-u-visually-hidden"> how are you contacting the next of kin?</span>
            </a>
          </dd>
        </div>
        
        {% if data['nok-contact'] == 'Phone' %}
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Phone number
            </dt>
            <dd class="nhsuk-summary-list__value">
                {{ data['nok-phone'] }}
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <a href="next-of-kin#nok-phone">
                Change<span class="nhsuk-u-visually-hidden"> phone number</span>
              </a>
            </dd>
          </div>
          
        {% elseif data['nok-contact'] == 'Email' %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['nok-email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="next-of-kin#nok-email">
              Change<span class="nhsuk-u-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        
      {% elseif data['nok-contact'] == 'Phone' or 'Email' %}
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Phone number
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['nok-phone'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="next-of-kin#nok-phone">
              Change<span class="nhsuk-u-visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
        
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Email address
          </dt>
          <dd class="nhsuk-summary-list__value">
              {{ data['nok-email'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="next-of-kin#nok-email">
              Change<span class="nhsuk-u-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
      {% endif %}

      --> 
     
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Notes for contacting the next of kin
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nok-notes'] }} 
          </dd>
        </div>
        
        <!--<div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
              Details of conversation with the next of kin
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['nok-conversation'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="next-of-kin#nok-conversation">
              Change<span class="nhsuk-u-visually-hidden"> main job</span>
            </a>
          </dd>
        </div>-->
     
      </dl>

      <div class="nav-flow">
        <a href="next-of-kin" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
         Make changes
       </a>
     </div>
      
      {% else %}
         
       
     
     <p>No details have been added for the next of kin.</p>
     <div class="nav-flow">
       <a href="next-of-kin" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
        Add details for the next of kin
      </a>
    </div>

    {% endif %}


    </div>
  </div>
  
  
  
 
  <div class="nhsuk-card">

  
    <div class="nhsuk-card__content">
  
      <!-- ================================================== -->
      <!-- CASE ASSIGNMENT -->
      <!-- ================================================== -->
      
      <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">Case assignment details
      {% if data['contact-hint'] %}
       <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
       {% else %}
       <strong class="nhsuk-tag nhsuk-tag--white align-right">Not started</strong>
     {% endif %}
      </h2>

      
      {% if data['contact-hint'] %}
      <dl class="nhsuk-summary-list">
       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
           Medical examiner
         </dt>
         <dd class="nhsuk-summary-list__value">
           {{ data['assign-medical-examiner'] }}
         </dd>
         <dd class="nhsuk-summary-list__actions">
           <a href="../../ME-MEO/assign-case#assign-medical-examiner">
             Change<span class="nhsuk-u-visually-hidden"> assigned medical examiner</span>
           </a>
         </dd>
       </div>
       
       <div class="nhsuk-summary-list__row">
         <dt class="nhsuk-summary-list__key">
           Medical examiner officer
         </dt>
         <dd class="nhsuk-summary-list__value">
           {{ data['assign-medical-examiner-officer'] }}
         </dd>
         <dd class="nhsuk-summary-list__actions">
           <a href="../../ME-MEO/assign-case#assign-medical-examiner-officer">
             Change<span class="nhsuk-u-visually-hidden"> assigned medical examiner officer</span>
           </a>
         </dd>
       </div>
       
      </dl>


      {% else %}
         
       
     
     <p>The case has not been assigned yet.</p>
     <div class="nav-flow">
       <a href="assign-case" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
        Assign the case
      </a>
    </div>

    {% endif %}
  
    </div>
  </div>


<!-- ================================================== -->
<!-- DECEASED PERSONS DETAILS -->
<!-- ================================================== -->

<!--


<h2 class="nhsuk-heading-m" id="deceased-persons-details-header">Deceased person's details</h2>


<dl class="nhsuk-summary-list">
  
 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Name
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
   </dd>
   <dd class="nhsuk-summary-list__actions">
     <a href="../../ME-MEO/create-new-case#firstNames">
       Change<span class="nhsuk-u-visually-hidden"> name</span>
     </a>
   </dd>
 </div>

 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Date of death
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['dodDayCreate'] }} <span class="convert-month">{{ data['dodMonthCreate'] }}</span> {{ data['dodYearCreate'] }}
   </dd>
   <dd class="nhsuk-summary-list__actions">
     <a href="../../ME-MEO/create-new-case#dateOfDeath-day">
       Change<span class="nhsuk-u-visually-hidden"> date of death</span>
     </a>
   </dd>
 </div>
 
 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Time of death
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['todHourCreate'] }}:{{ data['todMinuteCreate'] }}
   </dd>
   <dd class="nhsuk-summary-list__actions">
     <a href="../../ME-MEO/create-new-case#timeOfDeath-hour">
       Change<span class="nhsuk-u-visually-hidden"> time of death</span>
     </a>
   </dd>
 </div>
 
 <div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
     Rapid release
   </dt>
   <dd class="nhsuk-summary-list__value">
     {{ data['requestForRapidRelease'] }}
   </dd>
   <dd class="nhsuk-summary-list__actions">
     <a href="../../ME-MEO/create-new-case#requestForRapidRelease">
       Change<span class="nhsuk-u-visually-hidden"> rapid release</span>
     </a>
   </dd>
 </div>




<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
   Name deceased also known as
</dt>
<dd class="nhsuk-summary-list__value">
 {{ data['knownAs'] }} 
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#firstNames">
   Change<span class="nhsuk-u-visually-hidden"> name deceased also known as</span>
 </a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
   Date of birth
</dt>
<dd class="nhsuk-summary-list__value">
 {% if data['dobDay'] and data['dobMonth'] and data['dobYear'] %}
     {{ data['dobDay'] }} / {{ data['dobMonth'] }} / {{ data['dobYear'] }}
   {% else %}
     15/11/1992
   {% endif %}
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#firstNames">
   Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
 </a>
</dd>
</div>

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
   Home address
</dt>
<dd class="nhsuk-summary-list__value">
 {% if data['homeAddressKnown'] == 'yes' %}
 {{ data['addressLine1'] }}<br>
 {% if data['addressLine2'] %}{{ data['addressLine2'] }}<br>{% endif %}
 {% if data['townOrCity'] %}{{ data['townOrCity'] }}<br>{% endif %}
 {% if data['county'] %}{{ data['county'] }}<br>{% endif %}
 {{ data['postCode'] }}
{% else %}
 Not known
{% endif %}
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#firstNames">
   Change<span class="nhsuk-u-visually-hidden"> home address</span>
 </a>
</dd>
</div>

{% if data['ref-NHSnumber'] %}
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
   NHS number
</dt>
<dd class="nhsuk-summary-list__value">
 {{ data['ref-NHSnumber'] }} 
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#firstNames">
   Change<span class="nhsuk-u-visually-hidden"> NHS number</span>
 </a>
</dd>
</div>
{% endif %}

{% if data['ref-RXRnumber'] %}
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
   RXR number
</dt>
<dd class="nhsuk-summary-list__value">
 {{ data['ref-RXRnumber'] }} 
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#firstNames">
   Change<span class="nhsuk-u-visually-hidden"> NHS number</span>
 </a>
</dd>
</div>
{% endif %}

{% if data['ref-patientrefnumber'] %}
<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
 Patient reference number
</dt>
<dd class="nhsuk-summary-list__value">
 {{ data['ref-patientrefnumber'] }} 
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#firstNames">
   Change<span class="nhsuk-u-visually-hidden"> NHS number</span>
 </a>
</dd>
</div>
{% endif %}

<div class="nhsuk-summary-list__row">
<dt class="nhsuk-summary-list__key">
 Deceased person's job
</dt>
<dd class="nhsuk-summary-list__value">
 {{ data['furtherOccupationInfo'] }}
</dd>
<dd class="nhsuk-summary-list__actions">
 <a href="../../ME-MEO/create-new-case#nhsNumber">
   Change<span class="nhsuk-u-visually-hidden"> deceased person's job</span>
 </a>
</dd>
</div>


</dl>
-->


  </div>

</div>

{% endblock %}




{% block sideNav %}
<div class="side-nav">
  
  
 <div class="case-type-details">
   
      
<div class="nhsuk-back-link">

  <a class="nhsuk-back-link__link" href="../open-cases2">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to case list</a>
</div>
   
   

  
<ul>
  <div id="options" class="options">
    <li><a href="case-timeline">Case timeline</a></li>
    <li><a href="case-details" class="active">Case details</a></li>
    <li><a href="case-scrutiny">Case scrutiny</a></li>
  </div>
</ul>
  
    
</div>
{% endblock %}