<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        {% from 'back-link/macro.njk' import backLink %}

        {{ backLink({
        "href": "javascript:history.back()",
        "text": "Go back"
        }) }}

        
        
        
        <form action="location-of-death-alt" method="post">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                      <span class="nhsuk-caption-m nhsuk-caption--bottom">
                       Location of death
                    </span>
                        Did the deceased persion die in hospital?
                    </legend>
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="hospitalDeath-Y" name="hospitalDeath"
                                type="radio" value="hospitalDeath-Y">
                            <label class="nhsuk-label nhsuk-radios__label" for="hospitalDeath-Y">
                               Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="hospitalDeath-N" name="hospitalDeath" type="radio"
                                value="hospitalDeath-N">
                            <label class="nhsuk-label nhsuk-radios__label" for="hospitalDeath-N">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
          
            <button class="nhsuk-button" type="submit">
                Save and continue
            </button>


            <!--<span class="nhsuk-caption-m nhsuk-caption--bottom">
                Location of death
             </span>
            {{ radios({
                "idPrefix": "hospital-death",
                "name": "hospital-death",
                "fieldset": {
                  "legend": {
                    "text": "Did the deceased person die in hospital?",
                    "classes": "nhsuk-fieldset__legend--l",
                    "isPageHeading": true
                  }
                },
                "items": [
                  {
                    "value": "Yes",
                    "text": "Yes"
                  },
                  {
                    "value": "No",
                    "text": "No"
                  }
                ]
              }) }}-->
        </form>
    </div>
</div>

{% endblock %}