// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/full-width';
@import 'components/nhsbsa-manage';
@import 'components/govuk-warning';
@import 'components/phase-banner';
@import 'components/pagination';
@import 'components/stream1';
@import 'components/stream2';


///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////


// Record review and Proposed cause of death interval input

.interval-input {
   margin-right: 0.5em;
}

.nhsuk-u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.blue-divider {
    border-bottom: 4px solid #005eb8;
    margin: 0;
    clear: both;
}

.align-right {
    float: right;
}

// Flex override
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content {
    flex: 1;
}

// Open cases - custom table headers
.blue-link-header {
    background-color: transparent;
    border-width: 0;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    font-size: 1em;
    margin: 0;
}

// Close this case button aligned to the right
.nhsbsa-button--right-align {
    float: right;
}

// Header
.nhsuk-icon__search {
    fill: white !important;
    margin-bottom: -10px;
}
.nhsuk-header__navigation-link:hover, .nhsuk-header__navigation-link:active, .nhsuk-header__navigation-link.is-active {
    background-color: #004b93;
}

// float status for discussions and concerns expanders
.nhsbsa-tag--custom {
    float: right;
    margin-top: 5px;
}

// side nav tags
.side-nav-tag {
    position: absolute;
    top: 17px;
    right: 17px;
}

// reports hidden class
.hidden {
    display: none;
}

// save as draft button
.custom-draft-form {
    position: absolute;
}
.custom-draft-button {
    top: -92px;
    left: 212px;

    &:active {
        top: -88px;
    }
}









// Character count - from view-source:https://service-manual.nhs.uk/css/main.css //

.nhsuk-character-count{
    margin-bottom:32px
}
@media(min-width: 40.0625em){
    .nhsuk-character-count{
        margin-bottom:40px
    }
}
.nhsuk-character-count .nhsuk-form-group,.nhsuk-character-count .nhsuk-textarea{
    margin-bottom:4px
}
.nhsuk-character-count__message{
    margin-bottom:0;
    margin-top:0
}
.nhsuk-character-count__message--disabled{
    visibility:hidden
}
.nhsuk-tabs{
    margin-top:4px;
    margin-bottom:32px
}
@media(min-width: 40.0625em){
    .nhsuk-tabs{
        margin-top:4px
    }
}