// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/full-width';
@import 'components/nhsbsa-manage';
@import 'components/govuk-warning';
@import 'components/phase-banner';
@import 'components/pagination';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

.blue-divider {
    border-bottom: 4px solid #005eb8;
    margin: 0;
    clear: both;
}

.align-right {
    float: right;
}

// Flex override
.nhsBSA-sidebar-container .nhsBSA-sidebar-wrapper .nhsBSA-sidebar-content {
    flex: 1;
}

// Open cases - custom table headers
.blue-link-header {
    background-color: transparent;
    border-width: 0;
    white-space: nowrap;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    color: #005ea5;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0 10px 0 0;
    position: relative;
    text-align: inherit;
    font-size: 1em;
    margin: 0;
}

// Close this case button aligned to the right
.nhsbsa-button--right-align {
    float: right;
}

// Header
.nhsuk-icon__search {
    fill: white !important;
    margin-bottom: -10px;
}
.nhsuk-header__navigation-link:hover, .nhsuk-header__navigation-link:active, .nhsuk-header__navigation-link.is-active {
    background-color: #004b93;
}