<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Open cases
{% endblock %}

{% block breadcrumbs %}
<p class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-3">Royal Infirmary, Newcastle</p>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-one-half">
    <h1 class="nhsuk-u-margin-bottom-4">
      Open cases
    </h1>
  </div>
  <div class="nhsuk-grid-column-one-half nhsBSA-align-right">
    <a href="create-new-case" class="nhsuk-button"> Create new case</a>
  </div>

  <div class="nhsuk-grid-column-full">

    <hr class="nhsuk-divider blue-divider nhsuk-u-margin-top-3" role="presentation">
    <table class="nhsuk-table nhsuk-table-u-margin-0 nhsuk-table-clickable main-table" id="sortable">
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th role="columnheader" class="nhsuk-table__header" scope="col">Name</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">Date of death</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">NHS number</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">ME</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">MEO</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">Proposed COD</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">Main contact</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">ME scrutiny</th>
          <th role="columnheader" class="nhsuk-table__header" scope="col">Case type</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="statics/case-details?deceased-full-name=Milo Brett">Milo Brett</a>
          </td>
          <td class="nhsuk-table__cell">22/12/2023</td>
          <td class="nhsuk-table__cell">001 231 9999</td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">In progress</td>
          <td class="nhsuk-table__cell">In progress</td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-tag nhsuk-tag--red">Urgent</span>
          <!--  <span class="nhsuk-tag nhsuk-tag--red">Urgent</span> -->
                    </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="statics/case-details?deceased-full-name=Idris Felba">Idris Felba</a>
          </td>
          <td class="nhsuk-table__cell">03/06/2023</td>
          <td class="nhsuk-table__cell">123 456 723</td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-tag nhsuk-tag--blue">Routine</span>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="statics/case-details?deceased-full-name=Mika Low">Mika Low</a>
          </td>
          <td class="nhsuk-table__cell">02/06/2023</td>
          <td class="nhsuk-table__cell">321 423 789</td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-tag nhsuk-tag--blue">Routine</span>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            <a href="statics/case-details?deceased-full-name=John Smith">John Smith</a>
          </td>
          <td class="nhsuk-table__cell">02/12/2023</td>
          <td class="nhsuk-table__cell">321 423 789</td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell"> </td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">Complete</td>
          <td class="nhsuk-table__cell">
            <span class="nhsuk-tag nhsuk-tag--blue">Routine</span>
          </td>
        </tr>
      </tbody>
    </table>
    <nav class="nhsbsa-pagination" id="pagination-label">

      <p class="nhsuk-u-visually-hidden">Pagination navigation</p>

      <ul class="nhsbsa-pagination__list">
              <li class="nhsbsa-pagination__item nhsbsa-pagination__item--active"><span class="nhsuk-u-visually-hidden">Page </span> 1</li>
            </ul>
        <p class="nhsbsa-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
      </nav>

  </div>
</div>

{% endblock %}
{% block sideNav %}
  <!-- IF user has selected to Reopen a case then change the numbering -->
  {% if data['reopen-this-case'] == 'yes' %}
    <div class="side-nav">
      <ul>
        <div id="options" class="options">
          <li><a class="active" href="open-cases">Open cases 3</a></li>
          <li><a href="closed-cases">Closed cases 0</a></li>
          <li><a href="reopened-cases">Reopened cases 2</a></li>
          <li><a href="reporting">Reporting</a></li>
        </div>
      </ul>
    </div>
  {% else %}
    <div class="side-nav">
      <ul>
        <div id="options" class="options">
          <li><a class="active" href="open-cases">Open cases 3</a></li>
          <li><a href="closed-cases">Closed cases 1</a></li>
          <li><a href="reopened-cases">Reopened cases 1</a></li>
          <li><a href="reporting">Reporting</a></li>
        </div>
      </ul>
    </div>
  {% endif %}
{% endblock %}
