<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reporting
{% endblock %}



<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-half">
  
      
      <h1 class="nhsuk-heading-l">
        <span class="nhsuk-caption-l nhsuk-caption--bottom">
          Royal Infirmary, Newcastle
      </span>
        Reporting
      </h1>
    </div>
    
    
    
    

    <div class="nhsuk-grid-column-three-quarters">

      
      
      
      
      {{ select({
        id: "select-1",
        name: "select-1",
        classes: "nhsuk-input--width-20",
        label: {
          text: "Choose reporting year"
        },
        items: [
          {
            value: 2023,
            text: "2023",
            selected: true
          },
          {
            value: 2024,
            text: "2024"
          }
        ]
      }) }}
        
      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
        
        <h3 class="nhsuk-heading-l">2023</h3>
        
       
<ul class="nhsuk-grid-row nhsuk-card-group heading-break-report">
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content nhsuk-card__content--primary">
        <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
          <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="reporting-all-cases">Quarter 1</a> 
        </h2> 
        
        
        <h3 class="nhsuk-heading-s case-total">1,453 <span>cases</span></h3>
        
        <p class="nhsuk-card__description report-desc">January &ndash; March 2023</p>

        <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
          <circle cx="13.333" cy="13.333" r="13.333" fill="" />
          <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
            <path d="M15.438 13l-3.771 3.771" />
            <path data-name="Path" d="M11.667 9.229L15.438 13" />
          </g>
        </svg>

      </div>
    </div>

  </li>
  
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content nhsuk-card__content--primary">
        <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
          <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Quarter 2</a>
        </h2>
        
        
        <h3 class="nhsuk-heading-s case-total">2,560 <span>cases</span></h3>
        
        <p class="nhsuk-card__description report-desc">April &ndash; June 2023</p>

        <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
          <circle cx="13.333" cy="13.333" r="13.333" fill="" />
          <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
            <path d="M15.438 13l-3.771 3.771" />
            <path data-name="Path" d="M11.667 9.229L15.438 13" />
          </g>
        </svg>

      </div>
    </div>

  </li>
  
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content nhsuk-card__content--primary">
        <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
          <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Quarter 3</a>
        </h2>
        
        
        <h3 class="nhsuk-heading-s case-total">867 <span>cases</span></h3>
        
        <p class="nhsuk-card__description report-desc">July &ndash; September 2023</p>

        <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
          <circle cx="13.333" cy="13.333" r="13.333" fill="" />
          <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
            <path d="M15.438 13l-3.771 3.771" />
            <path data-name="Path" d="M11.667 9.229L15.438 13" />
          </g>
        </svg>

      </div>
    </div>

  </li>
  
  <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

    <div class="nhsuk-card nhsuk-card--clickable">
      <div class="nhsuk-card__content nhsuk-card__content--primary">
        <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
          <a class="nhsuk-card__link nhsuk-link--no-visited-state" href="#">Quarter 4</a>
        </h2>
        
        
        <h3 class="nhsuk-heading-s case-total">3,670 <span>cases</span></h3>
        
        <p class="nhsuk-card__description report-desc">October &ndash; December 2023</p>

        <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
          <circle cx="13.333" cy="13.333" r="13.333" fill="" />
          <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
            <path d="M15.438 13l-3.771 3.771" />
            <path data-name="Path" d="M11.667 9.229L15.438 13" />
          </g>
        </svg>

      </div>
    </div>

  </li>
  
  
</ul>
      
      
 <!--<h3 class="nhsuk-heading-s">2022</h3>     
      
 <ul class="nhsuk-grid-row nhsuk-card-group">
   <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
 
     <div class="nhsuk-card nhsuk-card--clickable">
       <div class="nhsuk-card__content nhsuk-card__content--primary">
         <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
           <a class="nhsuk-card__link" href="#">Quarter 1</a>
         </h2>
         
         
         <h3 class="nhsuk-heading-s case-total">1,894 <span>cases</span></h3>
         
         <p class="nhsuk-card__description report-desc">January &ndash; March 2022</p>
 
         <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
           <circle cx="13.333" cy="13.333" r="13.333" fill="" />
           <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
             <path d="M15.438 13l-3.771 3.771" />
             <path data-name="Path" d="M11.667 9.229L15.438 13" />
           </g>
         </svg>
 
       </div>
     </div>
 
   </li>
   
   <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
 
     <div class="nhsuk-card nhsuk-card--clickable">
       <div class="nhsuk-card__content nhsuk-card__content--primary">
         <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
           <a class="nhsuk-card__link" href="#">Quarter 2</a>
         </h2>
         
         
         <h3 class="nhsuk-heading-s case-total">7,199 <span>cases</span></h3>
         
         <p class="nhsuk-card__description report-desc">April &ndash; June 2022</p>
 
         <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
           <circle cx="13.333" cy="13.333" r="13.333" fill="" />
           <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
             <path d="M15.438 13l-3.771 3.771" />
             <path data-name="Path" d="M11.667 9.229L15.438 13" />
           </g>
         </svg>
 
       </div>
     </div>
 
   </li>
   
   <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
 
     <div class="nhsuk-card nhsuk-card--clickable">
       <div class="nhsuk-card__content nhsuk-card__content--primary">
         <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
           <a class="nhsuk-card__link" href="#">Quarter 3</a>
         </h2>
         
         
         <h3 class="nhsuk-heading-s case-total">1,307 <span>cases</span></h3>
         
         <p class="nhsuk-card__description report-desc">July &ndash; September 2022</p>
 
         <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
           <circle cx="13.333" cy="13.333" r="13.333" fill="" />
           <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
             <path d="M15.438 13l-3.771 3.771" />
             <path data-name="Path" d="M11.667 9.229L15.438 13" />
           </g>
         </svg>
 
       </div>
     </div>
 
   </li>
   
   <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
 
     <div class="nhsuk-card nhsuk-card--clickable">
       <div class="nhsuk-card__content nhsuk-card__content--primary">
         <h2 class="nhsuk-card__heading nhsuk-heading-s mb0">
           <a class="nhsuk-card__link" href="#">Quarter 4</a>
         </h2>
         
         
         <h3 class="nhsuk-heading-s case-total">7,840 <span>cases</span></h3>
         
         <p class="nhsuk-card__description report-desc">October &ndash; December 2022</p>
 
         <svg class="nhsuk-icon nhsuk-icon nhsuk-icon__chevron-right-circle" xmlns="http://www.w3.org/2000/svg" width="27" height="27" aria-hidden="true" focusable="false">
           <circle cx="13.333" cy="13.333" r="13.333" fill="" />
           <g data-name="Group 1" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.667">
             <path d="M15.438 13l-3.771 3.771" />
             <path data-name="Path" d="M11.667 9.229L15.438 13" />
           </g>
         </svg>
 
       </div>
     </div>
 
   </li>
   
   
 </ul>     -->
      
      
      
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Export data
      </button>

    </div>
</div>

{% endblock %}

{% block sideNav %}
<div class="side-nav">
  <ul>
    <div id="options" class="options">
      <li>
        <a class="active" href="#">Open cases
           {% if data['deceased-first-name'] %}
           (23)
           {% else %}
            (22)
            {% endif %} 
        </a>
       
      </li>
      <li><a href="coroner-ref">Coroner referrals (2)</a></li>
      <li><a href="#">Closed cases</a></li>
      <li><a href="reporting2-start">Reporting</a></li>
    </div>
  </ul>
</div>
{% endblock %}