<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-l mb40">Coroner notification</h1>




<p>No notifications have been sent to the coroner.</p>


<div class="nav-flow">
  <a href="record-communication" class="nhsuk-button" data-module="nhsuk-button">
  Notify the coroner about this case
</a>
</div>



    </div>


</div>

{% endblock %}

{% block sideNav %}

<div class="side-nav">
    
    
   <div class="case-type-details">
     
        
  <div class="nhsuk-back-link">
  
    <a class="nhsuk-back-link__link" href="../open-cases">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back to case list</a>
  </div>
     
     
     <!--<p class="deceased-name">Name of deceased:</p>-->
    <h3 class="nhsuk-heading-s mt0">Kathleen Stark</h3>
    <strong class="nhsuk-tag nhsuk-tag-blue">
      Routine
    </strong>
    
   </div>
    
    
    <ul>
      <div id="options" class="options mt40">
        <li><a href="case-details">Case details</a></li>
        <li><a href="case-scrutiny">Case scrutiny</a></li>
        <li><a href="communications">Communications
          {% if data['comms-type'] %}
        
          (<b>3</b>)

        {% elif data['nok-conversation'] %}
        
      (<b>2</b>)
        {% else %}
        (<b>1</b>)
        {% endif %}
        </a></li>
        <li><a href="notes">Case notes
          {% if data['detailsOfNote'] %}
          (<b>1</b>)
        {% else %}
  
        {% endif %}
        </a></li>
         <li><a href="concerns">Case concerns 
            {% if data['concern-why'] %}
            (<b>1</b>)
          {% else %}
    
          {% endif %}</a></a></li>
         <li><a class="active" href="coroner-notification">Coroner notification</a></li>
      </div>
    </ul>
    
      
  </div>


{% endblock %}