<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
   <section class="key-details">
     <ul>
       <li>
         <div class="patient-name">
           <span class="p-name">Patient name:</span>
           <h1>Kathleen Stark</h1>
         </div>
       </li>
       <li>
         <span>NHS number:</span>
         <p>123 456 789</p>
       </li>
       <li>
         <span>Date of death:</span>
         <p>12 September 2023</p>
       </li>
       <li>
         <span>Place of death:</span>
         <p>Hospital</p>
       </li>
      <!-- <li>
         <a href="#" class="nhsuk-button nhsuk-button--secondary mb0">Close case</a>
       </li> -->
     </ul>
   </section>
    
  </div>
</div>



<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-three-quarters">
    
    
    <h1 class="nhsuk-heading-l mb40">
      Case scrutiny <span class="nhsuk-caption-m caption-progress">
     <b>Progress:</b> 1 of 4 sections complete
    </span>
    </h1>
   <!-- <p class="header-status">Status: <strong class="nhsuk-tag nhsuk-tag--blue">In progress</strong></p>-->
    
    
    <div class="nhsuk-card">
      
      
     <div class="nhs-card-heading">
        <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
          <span class="section-main-title">Medical record notes</span>
    
           <strong class="nhsuk-tag nhsuk-tag--green align-right">Complete</strong>
    
        </h2>
      </div>

      <div class="nhsuk-card__content">
  
   
    

    <p>
           PMH: Angina, Hypertension, Ulcerative Colitis, IHD/MI Kathleen self discharged 01.05.2024 after treatment for Ulcerative Colitis flare up.</p>
          <p> Returned 06.05.2024 due to concerns from family re increasing lethargy and low in mood/energy. Increased bowel frequency and red blood noted on wiping. Reduced appetite. Family concern re Weight loss. Attended SDEC 08.05.2024 as per ED Referral. Confused. Aching in abdo. Opening bowels - very watery. CRP 71, hb 96. Working diagnosis - UC Flare vs Infectious cause.</p>
          <p> 09.05 Temp Spike. ongoing loose stools. Radiological evidence of Pneumonia. 10.05 Urine & Stool cultures - Negative CRP still climbing - now 300. No temp spikes. Suddenly became unresponsive. BP dropped 60/40. Unrecordable on attendance of On Call Dr. Pupils fixed and dilated. Death verified
    </p>

    <div class="nav-flow">
      <a href="#" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
       Make changes
     </a>
   </div>
   
    
      </div>
    </div>
  

<div class="nhsuk-card">
  
  <div class="nhs-card-heading">
    <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
      <span class="section-main-title">AP proposed cause of death</span>
    {% if data['declaration2'] %}
     <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
     {% else %}
     <strong class="nhsuk-tag nhsuk-tag--grey align-right">Not started</strong>
   {% endif %}
  </h2>
    
  </div>
  
<div class="nhsuk-card__content">
    
  
  
  {% if data['declaration2'] %}

<!-- AP Details Section -->
<dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
  <div class="nhsuk-summary-list__row">
    
    <dt class="nhsuk-summary-list__key">
      AP who proposed cause of death
    </dt>

    <dd class="nhsuk-summary-list__value">
      
        {{ data['qapFirstNames'] }} {{ data['qapLastName'] }}
      
    </dd>
    <dd class="nhsuk-summary-list__actions">
      
      <a href="ap-details">
        Change<span class="nhsuk-u-visually-hidden"> cause of death summary</span>
      </a>
     
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    
    <dt class="nhsuk-summary-list__key">
      Contact phone or bleep number
    </dt>
  
    <dd class="nhsuk-summary-list__value">
      
        {{ data['contactBleepNumber'] }}

              </dd>
    <dd class="nhsuk-summary-list__actions">
      
      <a href="ap-details#contactBleepNumber">
        Change<span class="nhsuk-u-visually-hidden"> cause of death summary</span>
      </a>
      
    </dd>
  </div>
  

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      GMC number
    </dt>

    <dd class="nhsuk-summary-list__value">
      
        {{ data['gmcNumber'] }}
   
              </dd>
    <dd class="nhsuk-summary-list__actions">

      <a href="ap-details#gmcNumber">
        Change<span class="nhsuk-u-visually-hidden"> cause of death summary</span>
      </a>
      
    </dd>
  </div>

</dl>

<!-- AP cause of death -->

<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Cause of death summary
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['causeOfDeathSummary'] }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="ap-prop-cause-of-death#CauseOfDeathSummary">
        Change<span class="nhsuk-u-visually-hidden"> cause of death summary</span>
      </a>
    </dd>
  </div>



    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        1(a) disease or condition directly leading to death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['causeOfDeath1a'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#causeOfDeath1a">
          Change<span class="nhsuk-u-visually-hidden"> 1(a) disease or condition directly leading to death</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Approximate interval between onset of 1(a) and death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['onsetInterval1a'] }}
         {{ data['onsetInterval1ab'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#onsetInterval1a">
          Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 1(a) and death</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        1(b) other disease or condition leading to 1(a)
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['causeOfDeath1b'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#causeOfDeath1b">
          Change<span class="nhsuk-u-visually-hidden"> 1(b) other disease or condition leading to 1(a)</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Approximate interval between onset of 1(b) and death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['onsetInterval1b'] }}
        {{ data['onsetInterval1bb'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#onsetInterval1b">
          Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 1(b) and death</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        1(c) other disease or condition leading to 1(b)
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['causeOfDeath1c'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#causeOfDeath1c">
          Change<span class="nhsuk-u-visually-hidden"> 1(c) other disease or condition leading to 1(b)</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Approximate interval between onset of 1(c) and death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['onsetInterval1c'] }}
        {{ data['onsetInterval1cb'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#onsetInterval1c">
          Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 1(c) and death</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        2 - Other significant conditions
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['causeOfDeath2'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#causeOfDeath2">
          Change<span class="nhsuk-u-visually-hidden"> 2 - Other significant conditions</span>
        </a>
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Approximate interval between onset of 2 and death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['onsetInterval2'] }}
         {{ data['onsetInterval2b'] }}
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a href="ap-prop-cause-of-death#onsetInterval2">
          Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 2 and death</span>
        </a>
      </dd>
    </div>

  
  
</dl>



{% else %}
    <p>No details have been added for the AP proposed cause of death.</p>
    <div class="nav-flow">
      <a href="ap-prop-cause-of-death" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
       Add AP proposed cause of death
     </a>
   </div>
   {% endif %}
    
  </div>
</div>
  
  
  
  <div class="nhsuk-card">
    
    
    <div class="nhs-card-heading">
      
      <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
        <span class="section-main-title">Medical examiner's independent review</span>
      {% if data['reviewConfirmed'] %}
       <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
       {% else %}
       <strong class="nhsuk-tag nhsuk-tag--grey align-right">Not started</strong>
     {% endif %}
    </h2>
    
    </div>
    

  
    <div class="nhsuk-card__content">
  <!-- ================================================== -->
  <!-- ME INDEPENDENT REVIEW -->
  <!-- ================================================== -->


    
    

  
  
  {% if data['reviewConfirmed'] %}
    
    
    
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Access to required documentation
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['accessToRequestedDocumentation'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="record-review">
            Change<span class="nhsuk-u-visually-hidden"> Access to required documentation</span>
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Review details
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['reviewDetails'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="record-review">
            Change<span class="nhsuk-u-visually-hidden"> Review details</span>
          </a>
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Cause of death summary
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['reviewCauseOfDeathSummary'] }}
        </dd>
        <dd class="nhsuk-summary-list__actions">
          <a href="record-review#reviewCauseOfDeathSummary">
            Change<span class="nhsuk-u-visually-hidden"> cause of death summary</span>
          </a>
        </dd>
      </div>



        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            1(a) disease or condition directly leading to death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath1a'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewCauseOfDeath1a">
              Change<span class="nhsuk-u-visually-hidden"> 1(a) disease or condition directly leading to death</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 1(a) and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval1a'] }}
            {{ data['reviewOnsetInterval1ab'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewOnsetInterval1a">
              Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 1(a) and death</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            1(b) other disease or condition leading to 1(a)
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath1b'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewCauseOfDeath1b">
              Change<span class="nhsuk-u-visually-hidden"> 1(b) other disease or condition leading to 1(a)</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 1(b) and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval1b'] }}
             {{ data['reviewOnsetInterval1bb'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewOnsetInterval1b">
              Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 1(b) and death</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            1(c) other disease or condition leading to 1(b)
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath1c'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewCauseOfDeath1c">
              Change<span class="nhsuk-u-visually-hidden"> 1(c) other disease or condition leading to 1(b)</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 1(c) and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval1c'] }}
            {{ data['reviewOnsetInterval1cb'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewOnsetInterval1c">
              Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 1(c) and death</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            2 - Other significant conditions
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath2'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewCauseOfDeath2">
              Change<span class="nhsuk-u-visually-hidden"> 2 - Other significant conditions</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 2 and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval2'] }}
            {{ data['reviewOnsetInterval2b'] }}
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <a href="record-review#reviewOnsetInterval2">
              Change<span class="nhsuk-u-visually-hidden"> Approximate interval between onset of 2 and death</span>
            </a>
          </dd>
        </div>

    </dl>
    
    
    {% else %}
  
    <p>No details have been added.</p>
    <div class="nav-flow">
      <a href="record-review" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
       Add medical examiner's independent review
     </a>
   </div>
   
   {% endif %}

  
    </div>
  </div>




<div class="nhsuk-card">
  
  <div class="nhs-card-heading">
    
    <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
      <span class="section-main-title">Discussion with the AP about the cause of death</span>
     {% if data['ap-discuss'] %}
      <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
      {% else %}
      <strong class="nhsuk-tag nhsuk-tag--grey align-right">Not started</strong>
    {% endif %}
    </h2>
    
  </div>


  <div class="nhsuk-card__content">
  <!-- ================================================== -->
  <!-- DISCUSSION WITH THE AP ABOUT THE CAUSE OF DEATH -->
  <!-- ================================================== -->


    
    
    {% if data['ap-discuss'] %}
  
{% if data['ap-discuss']=='ap-discuss-yes'%}

<dl>
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Have you and the Attending Practitioner agreed on a cause of death?
  </dt>
  <dd class="nhsuk-summary-list__value">
    Yes
  </dd>
  <dd class="nhsuk-summary-list__actions">
    <a href="ap-discussion">
      Change<span class="nhsuk-u-visually-hidden"> Have you and the Attending Practitioner agreed on a cause of death?</span>
    </a>
  </dd>
</div>
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Name of the AP who proposed the cause of death
  </dt>
  <dd class="nhsuk-summary-list__value">
    {{ data['qapFirstNames'] }} {{ data['qapLastName'] }}
  </dd>
  <dd class="nhsuk-summary-list__actions">
    <a href="ap-discussion#qapLastName">
      Change<span class="nhsuk-u-visually-hidden"> Have you and the Attending Practitioner agreed on a cause of death?</span>
    </a>
  </dd>
</div>
<div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
   Date of discussion
   </dt>
   <dd class="nhsuk-summary-list__value">
    11 June 2024
   </dd>
   <dd class="nhsuk-summary-list__actions">
     <a href="ap-discussion-2">
       Change<span class="nhsuk-u-visually-hidden"> Date of discussion</span>
     </a>
   </dd>
 </div>
 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Enter details of the discussion
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['example-ap-discussion'] }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="ap-discussion-2">
        Change<span class="nhsuk-u-visually-hidden"> details of the discussion</span>
      </a>
    </dd>
  </div>
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  
  The cause of death used on the MCCD will be
  
  </dt>
  <dd class="nhsuk-summary-list__value">
    
   {% if data['cod-mccd'] %}
   
   {% if data['cod-mccd'].includes('cod-mccd-1') %}  
     The attending practitioner's
   {% endif %}
   
   
   {% if data['cod-mccd'].includes('cod-mccd-2') %}
   The Medical Examiner's
   {% endif %}
   
   {% if data['cod-mccd'].includes('cod-mccd-3') %}
    A different COD agreed on by AP and ME
    {% endif %}
    
    {% if data['cod-mccd'].includes('cod-mccd-4') %}
     The coroner is being notified about this case
     {% endif %}
   
   {% else %}
   
   {% endif %}
  </dd>
  <dd class="nhsuk-summary-list__actions">
    <a href="ap-discussion-2">
      Change<span class="nhsuk-u-visually-hidden"> details of the discussion</span>
    </a>
  </dd>
</div>

</dl>

{% else %}

<dl>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Have you and the Attending Practitioner agreed on a cause of death?
    </dt>
    <dd class="nhsuk-summary-list__value">
      No
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="ap-discussion">
        Change<span class="nhsuk-u-visually-hidden"> Have you and the Attending Practitioner agreed on a cause of death?</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Have you had a discussion with AP to agree on cause of death?
    </dt>
    <dd class="nhsuk-summary-list__value">

       Discussion not able to happen


    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="ap-discussion">
        Change<span class="nhsuk-u-visually-hidden"> Have you had a discussion with AP to agree on cause of death?</span>
      </a>
    </dd>
  </div>
  </dl>


{% endif %}

{% else %}

   <p>No details have been added.</p>
   <div class="nav-flow">
     <a href="ap-discussion" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
      Add discussion with the AP about the cause of death
    </a>
  </div>
    
    {% endif %}
    
   
    
  </div>
</div>

  </div>
</div>

{% endblock %}

{% block sideNav %}
<div class="side-nav">
    
    
  <div class="case-type-details">
       
          
    <div class="nhsuk-back-link">
    
      <a class="nhsuk-back-link__link" href="../open-cases2">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to case list</a>
    </div>
    
      
     </div>
    
    
    <ul>
      <div id="options" class="options">
        <li><a href="case-timeline">Case timeline</a></li>
        <li><a href="case-details">Case details</a></li>
        <li><a class="active" href="case-scrutiny">Case scrutiny</a></li>
        
        
      </div>
    </ul>
    
      
  </div>

{% endblock %}