<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Create new case
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
"href": "javascript:history.back()",
"text": "Go back"
}) }}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds">

    <h1>
      <span class="nhsuk-caption-m nhsuk-caption--bottom">
        Create new case
      </span>
      Deceased person's details
    </h1>

    <form action="create-new-case" method="post">

      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-width-one-half" for="firstNames">
          First name(s)
        </label>
        <input class="nhsuk-input nhsuk-u-width-one-half" id="firstNames" name="deceased-first-name" type="text">
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-width-one-half" for="lastName">
          Last name
        </label>
        <input class="nhsuk-input nhsuk-u-width-one-half" id="lastName" name="deceased-last-name" type="text">
      </div>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
          <legend class="nhsuk-fieldset__legend">
            <p class="nhsuk-fieldset__heading">
              Date of birth
            </p>
          </legend>
          <div class="nhsuk-hint" id="example-hint">
            For example, 15 3 1984
          </div>

          <div class="nhsuk-date-input" id="date-of-birth">
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="dob-day">
                  Day
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-day" name="dob-day"
                  type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2" id="dob-month" name="dob-month"
                  type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
            <div class="nhsuk-date-input__item">
              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4" id="dob-year" name="dob-year"
                  type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="nhsNumber">
          NHS number
        </label>
        <div class="nhsuk-hint nhsuk-u-width-one-half" id="nhsNumber-hint">
          NHS numbers are 10 digits long. For example, 485 777 3456.
        </div>
        <input class="nhsuk-input nhsuk-u-width-one-half" id="nhsNumber" name="nhsNumber" type="text"
          aria-describedby="nhsNumber-hint">
      </div>

      <button class="nhsuk-button" type="submit">
        Save and continue
      </button>

    </form>

  </div>
</div>
{% endblock %}