<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <h1>
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
                {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
            </span>
            Check discussion details
        </h1>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Name of person discussion was with
                </dt>
                <dd class="nhsuk-summary-list__value" id="discussion-with">
                    {{ data['contactFirstNames'] }} {{ data['contactLastName'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="raised-by-change-link" href="record-comm-or-concern">Change
                        <span class="nhsuk-u-visually-hidden">who raised the concern</span></a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Role of the person
                </dt>
                <dd class="nhsuk-summary-list__value" id="discussion-role">
                    {{ data['contactRole'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="raised-by-change-link" href="record-comm-or-concern">Change
                        <span class="nhsuk-u-visually-hidden">Relationship</span></a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Team member discussion was with
                </dt>
                <dd class="nhsuk-summary-list__value" id="discussion-team-member">
                    {{ data['contactRole'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="raised-by-change-link" href="record-comm-or-concern">Change
                        <span class="nhsuk-u-visually-hidden">Relationship</span></a>
                </dd>
            </div>

            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Date and time
                </dt>
                <dd class="nhsuk-summary-list__value" id="discussion-date-time">
                    {{ data['dodDayCommsConcern'] }}/{{ data['dodMonthCommsConcern'] }}/{{ data['dodYearCommsConcern'] }}
                    <br>
                    {{ data['todHourCommsConcern'] }}:{{ data['todMinuteCommsConcern'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="date-time-raised-change-link" href="record-comm-or-concern">Change
                        <span class="nhsuk-u-visually-hidden">date and time raised</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Method of communication
                </dt>
                <dd class="nhsuk-summary-list__value" id="discussion-method">
                    {{ data['communicationMethod'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="conversation-details-change-link" href="record-comm-or-concern">Change
                        <span class="nhsuk-u-visually-hidden">communication method</span></a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row summary-list__details-list">
                <dt class="nhsuk-summary-list__key">
                    Details of discussion
                </dt>
                <dd class="nhsuk-summary-list__value" id="discussion-method">
                    {{ data['detailsOfDiscussionCommsConcern'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a id="conversation-details-change-link" href="record-comm-or-concern">Change
                        <span class="nhsuk-u-visually-hidden">discussion details</span></a>
                </dd>
            </div>
            </dl>
        </dl>

        <!--<form action="any-further-action" method="post">
            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend">
                        Does this concern require any further action?
                    </legend>
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                            Yes
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
                            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                            No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button class="nhsuk-button" type="submit">Save and continue</button>
        </form>-->

        <form action="check-discussion-details" method="post">
            <button class="nhsuk-button" type="submit">Save and continue</button>
        </form>

        <a id="return-to-communicaition-concerns-link" href="comms-concerns">Return to Communications</a>

    </div>
</div>

{% endblock %}
