<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


        <div class="nhsuk-grid-column-two-thirds">

            <h1>
                <span class="nhsuk-caption-m nhsuk-caption--bottom">
                    Coroner notification - {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
                </span>
                Check your answers
            </h1>


            <div class="nhsuk-inset-text">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>Check that all the case details are correct before you send this to the coroner.</p>
            </div>

            <h2 class="nhsuk-heading-l" id="coroner-notification-details-header">Notification details</h2>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Reason for notification to the coroner
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="reason-for-notification-value">
                        {{ data['notificationReason'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="reason-for-notification-change-link" href="me-comms-coroner#notificationReason">Change
                            <span class="nhsuk-u-visually-hidden">reason for notification</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Was the deceased person known to have a mental health condition?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="mental-health-value">
                        {{ data['mentalHealthIssues'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-mental-health-issues-change-link" href="me-comms-coroner#mentalHealthIssues">Change
                            <span class="nhsuk-u-visually-hidden">mental health status</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Has the case been reported to the police?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="report-to-police-value">
                        {{ data['reportedToPolice'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="reported-police-change-link" href="me-comms-coroner#reportedToPolice">Change
                            <span class="nhsuk-u-visually-hidden">reported to police</span></a>
                    </dd>
                </div>
            </dl>

            <h2 class="nhsuk-heading-l" id="deceased-persons-details-header">Deceased person's details</h2>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="deceased-persons-name-value">
                        {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-name-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">deceased person's name</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Date of birth
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="date-of-birth-value">
                        {{ data['dobDay'] }}/{{ data['dobMonth'] }}/{{ data['dobYear'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-dob-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">date of birth</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        NHS number
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="nhs-number-value">
                        {{ data['nhsNumber'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-nhs-number-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">nhs number</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Hospital number
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="hospital-number-value">
                        {{ data['hospitalNumber'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-hosptial-number-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">hospital number</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Date of death
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="date-of-death-value">
                        {{ data['dodDay'] }}/{{ data['dodMonth'] }}/{{ data['dodYear'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-dod-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">date of death</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Time of death
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="time-of-death-value">
                        {{ data['todHour'] }}:{{ data['todMinute'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-tod-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">time of death</span></a>
                    </dd>
                </div>

                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Rapid release?
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="rapid-release-value">
                        {{ data['requestForRapidRelease'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-rapid-release-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden"> request for rapid release</span></a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Home address
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="home-address-value">
                        {{ data['addressLine1'] }}<br>{{ data['addressLine2'] }}<br>{{ data['townOrCity'] }}<br>{{ data['county'] }}<br>{{ data['postCode'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="deceased-home-address-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">home address</span></a>
                    </dd>
                </div>
                {% if data['occupationKnown'] == 'yes' %}
                    <div class="nhsuk-summary-list__row summary-list__details-list">
                        <dt class="nhsuk-summary-list__key">
                            Main job
                        </dt>
                        <dd class="nhsuk-summary-list__value" id="main-job-value">
                            {{ data['mainJob'] }}
                        </dd>
                        <dd class="nhsuk-summary-list__actions">
                            <a id="deceased-job-change-link" href="#">Change
                                <span class="nhsuk-u-visually-hidden">main job</span></a>

                        </dd>
                    </div>
                {% endif %}
            </dl>

            <h2 class="nhsuk-heading-l" id="location-of-death-header">Location of death</h2>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Location of death
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="location-of-death-value">
                        {{ data['locationOfDeathType'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="location-of-death-type-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">location of death</span></a>
                    </dd>
                </div>

                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Location details
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="location-details-value">
                        {% if data['addressLocationType'] == 'same-as-home' %}
                            Same as home address
                        {% elif data['addressLocationType'] == 'other-address' %}
                            {{ data['otherAddressLine1'] }}<br>
                            {% if data['otherAddressLine2'] %}{{ data['otherAddressLine2'] }}<br>{% endif %}
                            {% if data['otherTownOrCity'] %}{{ data['otherTownOrCity'] }}<br>{% endif %}
                            {% if data['otherCounty'] %}{{ data['otherCounty'] }}<br>{% endif %}
                            {{ data['otherPostode'] }}
                        {% else %}
                            {{ data['nonSpecificAddressDetails'] }}
                        {% endif %}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="location-of-death-details-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">location details</span></a>
                    </dd>
                </div>
            </dl>

            <h2 class="nhsuk-heading-l" id="me-independent-review-header">Medical Examiner's independent review</h2>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Cause of death summary
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="me-cause-of-death-summary-value">
                        {{ data['reviewCauseOfDeathSummary'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="me-cause-of-death-change-link" href="#">Change
                            <span class="nhsuk-u-visually-hidden">ME cause of death summary</span></a>
                    </dd>
                </div>
            </dl>

            <h2 class="nhsuk-heading-l" id="coroner-email-header">Coroner details</h2>
            <dl class="nhsuk-summary-list">
                <div class="nhsuk-summary-list__row summary-list__details-list">
                    <dt class="nhsuk-summary-list__key">
                        Coroner Email address
                    </dt>
                    <dd class="nhsuk-summary-list__value" id="coroner-email-value">
                        {{ data['coronerEmailAddress'] }}
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        <a id="coroner-email-change-link" href="coroner-email#emailAddress">Change
                            <span class="nhsuk-u-visually-hidden">coroner email address</span></a>
                    </dd>
                </div>
            </dl>

            <a class="nhsuk-button" id="accept-and-send-button" href="coroner-email-sent">
                Accept and send
            </a><br>
            <a id="return-to-coroner-notification-link" href="#">Return to Coroner notification</a>

        </div>
    </div>

    {% endblock %}
