<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case notes
{% endblock %}

{% block breadcrumbs %}
<nav class="nhsuk-breadcrumb nhsuk-u-padding-bottom-0" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../open-cases">Open cases</a></li>
      <li class="nhsuk-breadcrumb__item">Notes - {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}</li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="#">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Level three
      </a>
    </p>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">Case notes</h1>
  </div>

    <!-- IF the mandatory sections are complete and a Coroner has responded, then show close button  --> 
      {% if data['create-and-assign-section'] and data['additional-details-section'] and data['location-of-death-section'] and data['pre-scrutiny-note-section'] and data['ap-prop-cause-of-death-section'] and
  data['me-independent-review-section'] and data['ap-discussion-section'] and data['discussion-with-main-section'] and
  data['coroner-notification-section'] and data['coroner-response-section'] %}
       <div class="nhsuk-grid-column-one-quarter">
        <a class="nhsuk-button nhsbsa-button--right-align" href="close-case">Close this case</a>
      </div>
      <!-- IF the mandatory sections are complete but if a Coroner has been contacted, but hasn't repsponsed, then hide it  -->
      {% elseif data['create-and-assign-section'] and data['additional-details-section'] and data['location-of-death-section']and data['pre-scrutiny-note-section'] and data['ap-prop-cause-of-death-section'] and
  data['me-independent-review-section'] and data['ap-discussion-section'] and data['discussion-with-main-section'] and data['coroner-notification-section'] %}
        &nbsp;
      <!-- If the mandatory sections are complete and a Coroner has not been contacted, show close button  -->
      {% elseif data['create-and-assign-section'] and data['additional-details-section'] and data['location-of-death-section'] and data['pre-scrutiny-note-section'] and data['ap-prop-cause-of-death-section'] and
  data['me-independent-review-section'] and data['ap-discussion-section'] and data['discussion-with-main-section'] %}
      <div class="nhsuk-grid-column-one-quarter">
        <a class="nhsuk-button nhsbsa-button--right-align" href="close-case">Close this case</a>
      </div>
    {% endif %}

    <!-- ================================================== -->
    <!-- CASE NOTES -->
    <!-- ================================================== -->

    <div class="nhsuk-grid-column-full">
        
        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key nhsuk-u-font-weight-normal">
                <a href="note-add1">Add a case note</a>
              </dt>
              <dd class="nhsuk-summary-list__actions">
                <!--<strong class="nhsuk-tag nhsuk-tag--white align-right">
                    Not started
                </strong> -->
              </dd>
            </div>
        </dl>

        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              <h3 class="nhsuk-heading-s">Case note 2</h3>
              <span style="font-weight: normal;">14 April 2024, 9:30<br>Added by Emma Smith</span>
            </dt>
            <dd class="nhsuk-summary-list__value">
              Update: Have received the contact details for A&E doctor if the ME wants to speak to them.
              07844567999 - Dr John Smith
            </dd>
            <dd class="nhsuk-summary-list__actions">
              <!--<a href="../../ME-MEO/case/additional-details#dateOfBirth-day">
                Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
              </a> -->
            </dd>
          </div>
        </dl>

     <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row">
          <!--<dt class="nhsuk-summary-list__key">
            Case Note 1<br>
            <span style="font-weight: normal;">12 April 2024, 13:45. FD</span>
          </dt>-->
          <dt class="nhsuk-summary-list__key">
            <h3 class="nhsuk-heading-s">Case note 1</h3>
            <span style="font-weight: normal;">12 April 2024, 13:45<br>Added by Mark Denton</span>
          </dt>
          <dd class="nhsuk-summary-list__value">
            Looking at the pre-scrutiny notes I think the ME needs to speak to the A&E doctor to check there aren't concerns we're missing here. Will add contact details when I've received them.           
          </dd>
          <dd class="nhsuk-summary-list__actions">
            <!--<a href="../../ME-MEO/case/additional-details#dateOfBirth-day">
              Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
            </a> -->
          </dd>
        </div>
      </dl>

    </div>


</div>

{% endblock %}

<!-- ====================================== -->
<!-- SIDE NAV -->
<!-- ====================================== -->
{% block sideNav %}
<div class="side-nav">
    <h3>{{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
        <span class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-top-2">
            <strong class="nhsuk-tag nhsuk-tag--blue">Routine</strong>
        </span>
    </h3>
    <ul>

      <div id="options" class="options">
        <li><a href="case-details">
          Case details
        </a></li>
  
         <!-- If an answer has been provided already for Over or Under 28 days after birth then show case scrutiny screen otherwise if no answer provided show Over or Under 28 days screen -->
         
         <li><a href="case-scrutiny">
           Case scrutiny
         </a></li>

      
  
       <li><a href="comms-concerns">
        Communications
      </a>
      <strong class="nhsuk-tag nhsuk-tag--red side-nav-tag" style="border-radius: 15px; background-color: #005eb8; color: white; border:none">
        2
      </strong></li>

       <li><a href="coroner-notification">
        Coroner
      </a></li>

      <li><a class="active" href="#">
        Case notes 
      
      </a>
      <strong class="nhsuk-tag nhsuk-tag--white side-nav-tag" style="border-radius: 15px; color:	#005eb8; border:none">
        2
      </strong></li>
      </div>
    
    </ul>
</div>
{% endblock %}