.govuk-warning-text__icon {
    font-weight: 700;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 35;
    min-width: 35px;
    min-height: 35px;
    margin-top: -7px;
    border: 3px solid #0b0c0c;
    border-radius: 50%;
    color: #fff;
    background: #0b0c0c;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    user-select: none;
  }
  
  .govuk-warning-text__text {
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    padding-left: 45px;
  }
  
  @media (min-width: 40.0625em) {
    .govuk-warning-text__icon {
      margin-top: -5px;
    }
  
    .govuk-warning-text__text {
      font-size: 19px;
      font-size: 1.1875rem;
      line-height: 1.31579;
    }
  }