

// temp styles - CD - gen stream //
.nhs-task-flow {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      overflow: hidden;
      border-bottom: 1px solid #d8dde0;
      padding: 2px 0 10px 0;
     
      .govuk-task-list__name-and-hint {
        float: left;
        width: auto;
      }
      .govuk-task-list__status {
        float: right;
        width: auto;
      }
    }
  }
}

//.nhsBSA-sidebar-content {
  //background: #fff!important;
//}


.govuk-tag--grey {
  background: #e5e6e7;
  color: #282d30;
}
.govuk-tag--yellow {
  background: #fff7bf;
  color: #594d00;
}


.side-status-task {
  padding: 30px;
  h4 {
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;
    font-size: 17px;
    border-top: 1px solid #b1b4b6;
    &:first-child {
      margin: 0;
      border: 0;
      padding: 0;
    }
  }
  .side-actions {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #b1b4b6;
    a {
      font-size: 17px!important;
    }
  }
}

.govuk-task-list__hint {
  font-size: 17px;
  color: #4c6272;
  margin-top: 5px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb0 {
  margin-bottom: 0;
}

.nhs-notification-badge {
  display: inline-block;
  background: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 8px;
  font-size: 16px;
  margin-left: 3px;
  position: relative;
  top: -2px;
}

.report-table {
  td {
    font-size: 16px;
  } 
  th {
    font-size: 16px;
  }
}

.report-table2 {
  td {
    font-size: 17px;
    font-weight: bold;
  } 
  th {
    font-size: 17px;
    font-weight: normal;
  }
}

.nhsuk-card__content {
  h3 {
    font-size: 19px!important;
  }
  p {
    b {
      font-size: 19px;
    }
  }
  .case-total {
    font-size: 44px;
    margin: 5px 0 3px 0;
    position: relative;
    left: -3px;
    span {
      font-size: 19px;
      left: 0;
      position: relative;
    }
  }
  .report-desc {
    color: #4c6272;
    margin: 0;
    font-size: 17px;
  }
}


.nhsuk-card__content--primary .nhsuk-icon {
display: block;
fill: #005eb8;
margin-top: -8px;
pointer-events: none;
position: absolute;
right: 24px;
top: 50%;
}


.nhsuk-table {
  caption {
    margin-bottom: 20px;
    //color: #4c6272;
  }
  th, td {
    &:last-child {
      text-align: right;
      //background: red;
    }
  }
}

//.heading-break-report {
  //border-bottom: 3px solid #000;
  //padding-bottom: 30px;
  //margin-bottom: 50px;
//}


.report-group-styles {
  

.govuk-details {
  margin: 0;
}


.govuk-details__text {
    border-left: 3px solid #1d70b8;
    padding-left: 10px;
    margin: 0 0 0 4px;
    table {
      margin: 0;
      tr {
        &:last-child {
          td, th {
            border-bottom: 0;
          }
        }
      }
      th, td {
        font-weight: normal;
        font-size: 16px;
      }
    }
}
.govuk-details__summary-text {
  font-weight: normal;
  //color: #1d70b8;

}


.nhsuk-card-group {
  
  .nhsuk-button--secondary {
    font-size: .9rem;
  }

}

}


.high-level-info {
  border-left: 8px solid #4c6272;
  padding: 12px 0;
  margin: 22px 0;
  ul {
    margin: 0;
    padding: 0;
    
    li {
      display: inline-block;
      margin: 0 0 0 20px;
      padding: 0 0 0 20px;
      font-size: 17px; 
   //   color: #4c6272;
      border-left: 1px solid #4c6272;
      &:first-child {
        border: 0;
        padding-left: 0;
      }

  
      
      span {
        display: block;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }
}



.nhs-sub-navigation {
  margin: 40px 0 60px 0;

  ul {
    margin: 0;
    padding: 0;
    
    //overflow: hidden;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 16px 0 0;
      padding: 0;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: #1d70b8;
        padding: 10px 0;
        border-bottom: 5px solid transparent;
        font-weight: normal;
        text-decoration: none;
        &:visited {
          color: #1d70b8;
        }
        &:hover {
          color: #003078;
        }
        &.active {
          border-bottom: 5px solid #1d70b8;
          color: #000;
        }
      }
    }
  }
}


.nhsuk-details__text {
  .nhsuk-card {
    border: 0;
    .nhsuk-card__content {
      padding: 5px;
    }
  }
}

.nhsuk-details__summary-text {
  position: relative;
  span {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 4px;
    color: #000;
    padding-left: 10px;
  }
}


.side-nav {
  h3 {
    padding: 0 30px;
    margin: 0;
    font-size: 19px;
  }
  h4 {
    padding: 0 30px;
    margin: 30px 0 20px 0;
    font-size: 19px;
  }
}

.side-head {
  font-size: 19px;
  font-weight: bold;
  padding: 0 28px;
  margin: 30px 0 0 0;
}

.deceased-name {
  padding: 0 30px;
  margin: 0;
  color: $nhsuk-secondary-text-color;
  font-size: 17px;
}

.case-type {
  padding: 0 30px;
  margin: 10px 0 0 0;
  color: $nhsuk-secondary-text-color;
  font-size: 17px;
}

.nav-flow {
  margin-top: 40px;
}

.case-type-details {
  //border-bottom: 2px solid $color_nhsuk-grey-2;
  padding: 30px 0 0 0;
  .nhsuk-tag {
    margin: 10px 0 0 30px;
  }
  .nhsuk-back-link {
    margin: 10px 0 20px 0!important;
    padding: 0 30px!important;
  }
}


.govuk-phase-banner {
  border-bottom: 0!important;
}

/* ==========================================================================
 #TIMELINE
 ========================================================================== */

.nhs-timeline {
margin-top: 30px;
margin-bottom:20px;
overflow: hidden;
position: relative;

&:before {
  background-color: #1d70b8;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 14px;
  width: 5px;
}

}

.nhs-timeline--full {
margin-bottom: 0;
&:before {
  height: calc(100% - 75px);
}
}

.nhs-timeline__item {
padding-bottom: 50px;
padding-left: 30px;
position: relative;

&:before {
  background-color: #1d70b8;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 15px;
}

}

.nhs-timeline__title {
  font-size: 22px;
  margin: 0 0 10px 0;
  .nhsuk-tag {
    position: relative;
    top: 0;
    margin-left: 5px;
    background: $nhsuk-secondary-button-color;
  }
}

.nhs-timeline__description {
  h4 {
  font-size: 19px;
  margin: 0;
}
p {
  margin: 16px 0 0 0;
  padding: 0;

}


}


.nhs-timeline__byline {
  color: $nhsuk-secondary-text-color;
  font-weight: normal;
  padding-top: 5px;
}


.nhsuk-tag {
  padding: 6px 10px;
  line-height: 1rem;
  &.nhsuk-tag-red {
    border-color: $color_nhsuk-red;
    background: #fff;
    color: $color_nhsuk-red;
  }
  &.nhsuk-tag-blue {
    border-color: $color_nhsuk-blue;
    background: #fff;
    color: $color_nhsuk-blue;
  }
  &.nhsuk-tag-green {
    border-color: $color_nhsuk-green;
    background: #fff;
    color: $color_nhsuk-green;
  }
  &.nhsuk-tag-grey {
    border-color: $color_nhsuk-grey-2;
    background: #fff;
    color: $color_nhsuk-grey-2;
  }
}


.govuk-caption-l {
  display: block;
  margin-bottom: 5px;
  color: #505a5f;
  font-weight: 400;
  font-size: 1.4rem;
}

.nhsuk-visually-hidden {
  position: absolute;
  left: -99999px;
  font-size: 0;
}



.nhsuk-table__body {
  a {
    font-weight: bold;
  }
  .author-tag {
    color: $color_nhsuk-grey-2;
    display: block;
  }
  .support-status {
    display: block;
    padding-top: 5px;
  }
}


.table-card {
  padding-bottom: 30px;
}

.nhsuk-card__content {
  .nhsuk-heading-m {
    font-size: 1.4rem!important;
  }
  dl {
    dd, dt {
        font-size: 1.1rem;
    }
    dt {
      width: 34%;
    }
  } 
  .nhsuk-button--secondary {
    font-size: 1.1rem;
  }
}

//.nhsBSA-sidebar-content, body {
  //background-color: #fff!important;
//}



