<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Reporting
{% endblock %}

{% block breadcrumbs %}
<p class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-3">Royal Infirmary, Newcastle</p>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-half">
      
      {{ backLink({
      "href": "javascript:history.back()",
      "text": "Go back"
      }) }}
      
        <h1 class="nhsuk-u-margin-bottom-4">
            Reporting
        </h1>
    </div>
    
    
    
    

    <div class="nhsuk-grid-column-three-quarters">

        <div class="nhsuk-tabs" data-module="nhsuk-tabs">
            <h2 class="nhsuk-tabs__title">
              Contents
            </h2>
          
            <ul class="nhsuk-tabs__list">
          
              <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
                <a class="nhsuk-tabs__tab" href="#past-day">
                  Past day
                </a>
              </li>
          
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#past-week">
                  Past week
                </a>
              </li>
          
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#past-month">
                  Past month
                </a>
              </li>
          
              <li class="nhsuk-tabs__list-item">
                <a class="nhsuk-tabs__tab" href="#past-year">
                  Past year
                </a>
              </li>
          
            </ul>
          
            <div class="nhsuk-tabs__panel" id="past-day">
          
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Past day</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Case manager
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases opened
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases closed
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">David Francis</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">3</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Paul Farmer</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Rita Patel</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">2</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">0</td>
                  </tr>
                </tbody>
              </table>
          
            </div>
          
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-week">
          
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Past week</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Case manager
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases opened
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases closed
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">David Francis</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">24</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">18</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Paul Farmer</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">16</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">20</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Rita Patel</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">24</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">27</td>
                  </tr>
                </tbody>
              </table>
          
            </div>
          
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-month">
          
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Past month</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Case manager
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases opened
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases closed
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">David Francis</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">98</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">95</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Paul Farmer</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">122</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">131</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Rita Patel</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">126</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">142</td>
                  </tr>
                </tbody>
              </table>
          
            </div>
          
            <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="past-year">
          
              <table class="nhsuk-table">
                <caption class="nhsuk-table__caption">Past year</caption>
                <thead role="rowgroup" class="nhsuk-table__head">
                  <tr role="row">
                    <th role="columnheader" class="" scope="col">
                      Case manager
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases opened
                    </th>
                    <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                      Cases closed
                    </th>
                  </tr>
                </thead>
                <tbody class="nhsuk-table__body">
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">David Francis</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1380</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1472</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Paul Farmer</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1129</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1083</td>
                  </tr>
                  <tr role="row" class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">Rita Patel</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1539</td>
                    <td class="nhsuk-table__cell nhsuk-table__cell--numeric">1265</td>
                  </tr>
                </tbody>
              </table>
          
            </div>
          
          </div>
      
      
      
    
      
  

    </div>
</div>

{% endblock %}

{% block sideNav %}
  <!-- IF user has selected to Reopen a case then change the numbering -->
  {% if data['reopen-this-case'] == 'yes' %}
    <div class="side-nav">
      <ul>
        <div id="options" class="options">
          <li><a href="open-cases">Open cases 3</a></li>
          <li><a href="closed-cases">Closed cases 0</a></li>
          <li><a href="reopened-cases">Reopened cases 2</a></li>
          <li><a class="active" href="reporting">Reporting</a></li>
        </div>
      </ul>
    </div>
  {% else %}
    <div class="side-nav">
      <ul>
        <div id="options" class="options">
          <li><a href="open-cases">Open cases 3</a></li>
          <li><a href="closed-cases">Closed cases 1</a></li>
          <li><a href="reopened-cases">Reopened cases 1</a></li>
          <li><a class="active" href="reporting">Reporting</a></li>
        </div>
      </ul>
    </div>
  {% endif %}
{% endblock %}