<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        {% from 'back-link/macro.njk' import backLink %}

        {{ backLink({
        "href": "javascript:history.back()",
        "text": "Go back"
        }) }}

        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h1 id="main-contact-discussion-header">
                        <span class="nhsuk-caption-m nhsuk-caption--bottom">
                            Discussion with the main contact about the cause of death - Emmit Amar
                        </span>
                        Has there been a discussion with the main contact about the cause of death?
                    </h1>
                    <form action="discussion-with-main" method="post">
                        <div class="nhsuk-form-group">
                            <fieldset class="nhsuk-fieldset">
                                <legend class="nhsuk-fieldset__legend nhsuk-u-visually-hidden">
                                    Has there been a discussion with the main contact about the cause of death?
                                </legend>
                                <div class="nhsuk-radios">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="discussionWithMain-yes"
                                            name="discussionWithMain" type="radio" value="yes">
                                        <label class="nhsuk-label nhsuk-radios__label" for="discussionWithMain-yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="discussionWithMain-no"
                                            name="discussionWithMain" type="radio" value="no">
                                        <label class="nhsuk-label nhsuk-radios__label" for="discussionWithMain-no">
                                            No
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <button class="nhsuk-button" type="submit">
                            Save and continue
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}