<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation--nhs" id="closed-case-panel">
            <h1 class="nhsuk-heading-l mb40">
                Case closed
            </h1>
        </div>

        <p class="nhsuk-body" id="closed-case-summary-text">
            This case is now closed and can be accessed from <a href="#">closed cases</a>.
        </p>

        <h2 class="nhsuk-heading-m">What happens next</h2>

        <ol>
            <li>You need to contact the attending practitioner (AP).</li>
            <li>The AP will complete the MCCD (medical certificate of cause of death).</li>
            <li>Once the MCCD is complete the death can be registered.</li>
        </ol>

        <p class="nhsuk-body" id="closed-case-text">
            Should the Register Office reject the MCCD, you can re-open the case from Closed cases.
        </p>
        <p>
            <a target="_blank" href="#">What did you think of this service?<span class="visually-hidden">opens in a new tab</span></a> (takes 30 seconds)
        </p>

    </div>
</div>

{% endblock %}

{% block sideNav %}
<div class="side-nav">
  
    <div class="nhsuk-back-link">

        <a class="nhsuk-back-link__link" href="../open-cases99">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to case list</a>
      </div>
    
</div>
{% endblock %}