<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Scrutiny
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
  <section class="key-details">
    <ul>
      <li>
        <div class="patient-name">
          <span class="p-name">Patient name:</span>
          <h1>{{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}</h1>
        </div>
      </li>
      <li>
        <span>NHS number:</span>
        <p>{{ data['ref-NHSnumber'] }}</p>
      </li>
      <li>
        <span>Date of death:</span>
        <p>{{ data['dodDayCreate'] }} September {{ data['dodYearCreate'] }}</p>
      </li>
    </ul>
  </section>
  </div>
</div>



<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-three-quarters">
    
    
    <h1 class="nhsuk-heading-l mb40">
      Scrutiny <span class="nhsuk-caption-m caption-progress">

      {% if data['qapFirstNames'] and data['accessToRequestedDocumentation'] and data['ap-discuss'] %}
        <b>Progress:</b> 3 of 3 sections complete
      {% elif data['qapFirstNames'] and data['accessToRequestedDocumentation'] %}
        <b>Progress:</b> 2 of 3 sections complete
      {% elif data['qapFirstNames'] %}
        <b>Progress:</b> 1 of 3 sections complete
      {% else %}
        <b>Progress:</b> 0 of 3 sections complete
      {% endif %}
    
    </span>
    </h1>

   
    

<div class="nhsuk-card">
  
  <div class="nhs-card-heading">
    <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
      <span class="section-main-title">Attending practitioner (AP) proposed cause of death</span>
    {% if data['qapFirstNames'] %}
     <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
     {% else %}
     <strong class="nhsuk-tag nhsuk-tag-grey align-right">Not started</strong>
   {% endif %}
  </h2>
    
  </div>
  
<div class="nhsuk-card__content">
    
  
  
  {% if data['qapFirstNames'] %}

<!-- AP Details Section -->
<dl class="nhsuk-summary-list nhsuk-u-margin-bottom-0">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      AP who proposed cause of death
    </dt>
    <dd class="nhsuk-summary-list__value">
        {{ data['qapFirstNames'] }} {{ data['qapLastName'] }}
    </dd>
  </div>


  {% if data['contactBleepNumber'] %}
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Contact phone or bleep number
      </dt>
      <dd class="nhsuk-summary-list__value">
          {{ data['contactBleepNumber'] }}
      </dd>
    </div>
  {% endif %}
  
  {% if data['gmcNumber'] %}
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        GMC number
      </dt>
      <dd class="nhsuk-summary-list__value">
          {{ data['gmcNumber'] }}
      </dd>
    </div>
  {% endif %}

  {% if data['ap-alt-contact'] %}
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Alternative contact method
      </dt>
      <dd class="nhsuk-summary-list__value">
          {{ data['ap-alt-contact'] }}
      </dd>
    </div>
  {% endif %}


  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Do you want to add the consultant's contact detail's?
    </dt>
    <dd class="nhsuk-summary-list__value">
        {{ data['consultant-contact'] }}
    </dd>
  </div>

  {% if data['consultant-contact'] == 'Yes' %}

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Consultant name
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['consultant-first-name'] }} {{ data['consultant-last-name'] }}
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Department
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['consultant-department'] }} 
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Contact phone or bleep number
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['consultant-phone-bleep'] }} 
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        GMC number
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['consultant-gmc'] }} 
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Alternative contact method
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['consultant-alt-contact'] }} 
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Consultant notes
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['consultant-notes'] }} 
      </dd>
    </div>

  {% endif %}



  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Cause of death summary
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['causeOfDeathSummary'] }}
    </dd>
  </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        1(a) disease or condition directly leading to death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['causeOfDeath1a'] }}
      </dd>
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Approximate interval between onset of 1(a) and death
      </dt>
      <dd class="nhsuk-summary-list__value">
        {{ data['onsetInterval1a'] }}
         {{ data['onsetInterval1ab'] }}
      </dd>
    </div>

    {% if data['causeOfDeath1b'] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          1(b) other disease or condition leading to 1(a)
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['causeOfDeath1b'] }}
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Approximate interval between onset of 1(b) and death
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['onsetInterval1b'] }}
          {{ data['onsetInterval1bb'] }}
        </dd>
      </div>
    {% endif %}

    {% if data['causeOfDeath1c'] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          1(c) other disease or condition leading to 1(b)
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['causeOfDeath1c'] }}
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Approximate interval between onset of 1(c) and death
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['onsetInterval1c'] }}
          {{ data['onsetInterval1cb'] }}
        </dd>
      </div>
    {% endif %}

    {% if data['causeOfDeath2'] %}
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          2 - Other significant conditions
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['causeOfDeath2'] }}
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Approximate interval between onset of 2 and death
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['onsetInterval2'] }}
          {{ data['onsetInterval2b'] }}
        </dd>
      </div>
    {% endif %}

    <div class="nav-flow">
      <a href="ap-prop-cause-of-death" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
       Change details
     </a>
   </div>
  
</dl>



{% else %}
    <p>No details have been added for the AP proposed cause of death.</p>
    <div class="nav-flow">
      <a href="ap-prop-cause-of-death" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
      Add AP proposed cause of death
    </a>
    </div>
   {% endif %}
    
  </div>
</div>
  
  
  
  <div class="nhsuk-card">
    
    
    <div class="nhs-card-heading">
      
      <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
        <span class="section-main-title">Medical examiner's independent review</span>
      {% if data['accessToRequestedDocumentation'] %}
       <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
       {% else %}
       <strong class="nhsuk-tag nhsuk-tag-grey align-right">Not started</strong>
     {% endif %}
    </h2>
    
    </div>
    

  
    <div class="nhsuk-card__content">
  <!-- ================================================== -->
  <!-- ME INDEPENDENT REVIEW -->
  <!-- ================================================== -->


    
    

  
  
  {% if data['accessToRequestedDocumentation'] %}
    
    
    
    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Access to required documentation
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['accessToRequestedDocumentation'] }}
        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Review details
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['reviewDetails'] }}
        </dd>

      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Cause of death summary
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['reviewCauseOfDeathSummary'] }}
        </dd>

      </div>



        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            1(a) disease or condition directly leading to death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath1a'] }}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 1(a) and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval1a'] }}
            {{ data['reviewOnsetInterval1ab'] }}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            1(b) other disease or condition leading to 1(a)
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath1b'] }}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 1(b) and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval1b'] }}
             {{ data['reviewOnsetInterval1bb'] }}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            1(c) other disease or condition leading to 1(b)
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath1c'] }}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 1(c) and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval1c'] }}
            {{ data['reviewOnsetInterval1cb'] }}
          </dd>

        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            2 - Other significant conditions
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewCauseOfDeath2'] }}
          </dd>
  
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Approximate interval between onset of 2 and death
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['reviewOnsetInterval2'] }}
            {{ data['reviewOnsetInterval2b'] }}
          </dd>
          
        </div>

    </dl>
    
    
    <div class="nav-flow">
      <a href="record-review" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
      Change details
     </a>
   </div>

    
    
    {% else %}
  
    <p>No details have been added.</p>
    <div class="nav-flow">
      <a href="record-review" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
       Add medical examiner's independent review
     </a>
   </div>
   
   {% endif %}

  
    </div>
  </div>




<div class="nhsuk-card">
  
  <div class="nhs-card-heading">
    
    <h2 class="nhsuk-heading-m" id="deceased-persons-details-header">
      <span class="section-main-title">Discussion with the AP about the cause of death</span>
     {% if data['ap-discuss'] %}
      <strong class="nhsuk-tag nhsuk-tag-green align-right">Complete</strong>
      {% else %}
      <strong class="nhsuk-tag nhsuk-tag-grey align-right">Not started</strong>
    {% endif %}
    </h2>
    
  </div>


  <div class="nhsuk-card__content">
  <!-- ================================================== -->
  <!-- DISCUSSION WITH THE AP ABOUT THE CAUSE OF DEATH -->
  <!-- ================================================== -->


    
    
    {% if data['ap-discuss'] %}
  
{% if data['ap-discuss']=='ap-discuss-yes'%}

<dl>
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Have you and the Attending Practitioner agreed on a cause of death?
  </dt>
  <dd class="nhsuk-summary-list__value">
    Yes
  </dd>
  
</div>
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Name of the AP who proposed the cause of death
  </dt>
  <dd class="nhsuk-summary-list__value">
    {{ data['qapFirstNames'] }} {{ data['qapLastName'] }}
  </dd>
  
</div>
<div class="nhsuk-summary-list__row">
   <dt class="nhsuk-summary-list__key">
   Date of discussion
   </dt>
   <dd class="nhsuk-summary-list__value">
    11 June 2024
   </dd>
   
 </div>
 <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
    Enter details of the discussion
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data['example-ap-discussion'] }}
    </dd>
    
  </div>
<div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
  
  The cause of death used on the MCCD will be
  
  </dt>
  <dd class="nhsuk-summary-list__value">
    
   {% if data['cod-mccd'] %}
   
   {% if data['cod-mccd'].includes('cod-mccd-1') %}  
     The attending practitioner's
   {% endif %}
   
   
   {% if data['cod-mccd'].includes('cod-mccd-2') %}
   The Medical Examiner's
   {% endif %}
   
   {% if data['cod-mccd'].includes('cod-mccd-3') %}
    A different COD agreed on by AP and ME
    {% endif %}
    
    {% if data['cod-mccd'].includes('cod-mccd-4') %}
     The coroner is being notified about this case
     {% endif %}
   
   {% else %}
   
   {% endif %}
  </dd>
  
</div>

</dl>

<div class="nav-flow">
  <a href="ap-discussion" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
  Change details
 </a>
</div>

{% else %}

<dl>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Have you and the Attending Practitioner agreed on a cause of death?
    </dt>
    <dd class="nhsuk-summary-list__value">
      No
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="ap-discussion">
        Change<span class="nhsuk-u-visually-hidden"> Have you and the Attending Practitioner agreed on a cause of death?</span>
      </a>
    </dd>
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Have you had a discussion with AP to agree on cause of death?
    </dt>
    <dd class="nhsuk-summary-list__value">

       Discussion not able to happen


    </dd>
    
  </div>
  </dl>
  
  <div class="nav-flow">
    <a href="ap-discussion" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
    Change details
   </a>
 </div>


{% endif %}

{% else %}

   <p>No details have been added.</p>
   <div class="nav-flow">
     <a href="ap-discussion" class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button">
      Add discussion with the AP about the cause of death
    </a>
  </div>
    
    {% endif %}
    
   
    
  </div>
</div>

  </div>
</div>

{% endblock %}

{% block sideNav %}
<div class="side-nav">
    
    
  <div class="case-type-details">
       
          
    <div class="nhsuk-back-link">
    
      <a class="nhsuk-back-link__link" href="../open-cases99">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back to case list</a>
    </div>
    
      
     </div>
    
    
    <ul>
      <div id="options" class="options">
        <li><a href="case-timeline">Case timeline</a></li>
        <li><a href="case-details">Case details</a></li>
        <!--<li><a href="pre-scrutiny">Pre-scrutiny</a></li>-->
        <li><a class="active" href="me-scrutiny">Scrutiny</a></li>
        
        
      </div>
    </ul>
    
      
  </div>

{% endblock %}