<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Next of kin details
{% endblock %}


<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
   <section class="key-details">
     <ul>
       <li>
         <div class="patient-name">
           <span class="p-name">Patient name:</span>
           <h1>{{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}</h1>
         </div>
       </li>
       <li>
         <span>NHS number:</span>
         <p>{{ data['ref-NHSnumber'] }} </p>
       </li>
       <li>
         <span>Date of death:</span>
         <p>{{ data['dodDayCreate'] }} <span class="convert-month" style="display:inline">{{ data['dodMonthCreate'] }}</span> {{ data['dodYearCreate'] }}</p>
       </li>

     </ul>
   </section>
    
  </div>
</div>

<script type="text/javascript">
function getCharCount(limit)
{
var tArea       = document.getElementById("description"),
 countDisplay = document.getElementById("charCount");
 countRemains = limit - tArea.value.length
countDisplay.innerHTML = countRemains + " characters remaining"  ;
if (countRemains < 1) alert('');
}
</script>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      {{ backLink({
      "href": "javascript:history.back()",
      "text": "Go back"
      }) }}


        
        <h1 class="nhsuk-heading-l mb40">
        Next of kin details
          </h1>
        
        

        <form action="case-details" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-one-half" for="nok-first-name">
                    First name(s)
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-half " id="nok-first-name" name="nok-first-name" type="text" value="{{ data['nok-first-name'] }}">
            </div>
            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-one-half" for="nok-last-name">
                    Last name
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-half " id="nok-last-name" name="nok-last-name" type="text" value="{{ data['nok-last-name'] }}">
            </div>
            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-one-half" for="nok-relationship">
                    Relationship to the deceased person
                </label>
                <input class="nhsuk-input nhsuk-u-width-one-half " id="nok-relationship" name="nok-relationship" type="text" value="{{ data['nok-relationship'] }}">
            </div>
            <!--<div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-u-width-one-half" for="nok-phone">
                 Phone number
              </label>
              <input class="nhsuk-input nhsuk-u-width-one-half " id="nok-phone" name="nok-phone" type="text" value="{{ data['nok-phone'] }}">
          </div>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="nok-phone">
               Email address
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half " id="nok-email" name="nok-email" type="text" value="{{ data['nok-email'] }}">
          </div>-->


           
            {% set emailHtml %}
            {{ input({
              id: "nok-email",
              name: "nok-email",
              classes: "nhsuk-u-width-one-half",
              label: {
                text: "Enter email address"
              },
              hint: {
                text: "Email should only be used as an additional method of contact."
              }
            }) }}
          {% endset -%}
          
          {% set phoneHtml %}
            {{ input({
              id: "nok-phone",
              name: "nok-phone",
              classes: "nhsuk-input--width-20",
              label: {
                text: "Enter phone number"
              }
            }) }}
          {% endset -%}
          
 
            {{ checkboxes({
              "idPrefix": "nok-contact",
              "name": "nok-contact",
              "fieldset": {
                "legend": {
                  "text": "How are you contacting the next of kin?",
                  "classes": "nhsuk-fieldset__legend--s nhsuk-u-font-weight-normal"
                }
              },
              "items": [
                {
                    "value": "Phone",
                    "text": "Phone",
                    "conditional": {
                    "html": phoneHtml
                    }
                },
                {
                  "value": "Email",
                  "text": "Email",
                  "conditional": {
                    "html": emailHtml
                  }
                }
              ]
            }) }}

            


              <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-two-thirds" for="nok-notes">
                  Notes for contacting the next of kin
                </label>
                <textarea class="nhsuk-textarea nhsuk-u-width-one-half minchar" id="nok-notes" name="nok-notes" rows="5" maxlength="3000" aria-describedby="admissionDetails-hint">{{ data['nok-notes'] }}</textarea>
                    <div class="nhsuk-hint nhsuk-character-count__message rechar" id="nok-notes">
                        You can enter up to 3000 characters
                    </div>
              </div>


              <!--<div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-two-thirds" for="nok-conversation">
                  Enter details about the conversation with the next of kin
                </label>
                <textarea class="nhsuk-textarea nhsuk-u-width-one-half minchar" id="nok-conversation" name="nok-conversation" rows="5" maxlength="3000" aria-describedby="admissionDetails-hint">{{ data['nok-conversation'] }}</textarea>
                    <div class="nhsuk-hint nhsuk-character-count__message rechar" id="nok-conversation">
                        You can enter up to 3000 characters
                    </div>
              </div>-->

              
        

            <button class="nhsuk-button" id="save-and-continue-button" type="submit">
                Save and continue
            </button>

            <button method="post" class="nhsuk-button nhsuk-button--secondary" type="submit">
                Save as draft
            </button>

            </form>



    </div>

</div>

{% endblock %}


{% block sideNav %}
<div class="side-nav">
  
  
 <!--<div class="case-type-details">
   
      
<div class="nhsuk-back-link">

  <a class="nhsuk-back-link__link" href="../open-cases2">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to case list</a>
</div>

  
 </div>
  
  
  <ul>
    <div id="options" class="options">
      <li><a class="active" href="case-timeline">Case timeline</a></li>
      <li><a href="case-details">Case details</a></li>
      <li><a href="case-scrutiny">Case scrutiny</a></li>
      
    </div>
  </ul>
-->
    
</div>
{% endblock %}