{% extends 'layout-full-width.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Sorry, the service will be unavailable from 6pm on Friday [##] October
          to 6pm on Sunday [##] October</h1>

        <p>You will be emailed details about how to continue accessing the service from 9am on Monday [##] October using a new link and password.</p>
       
        <p>Contact the Medical Examiner Office Support team if you need help or further information.</p>

        <a href="auth/sign-in" class="nhsuk-button">Continue</a>
          

    </div>

  </div>
{% endblock %}
