{% extends 'layout-full-width.html' %}

{% block pageTitle %}
  Medical Examiner Office - Manage my caseload
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Medical Examiner Office - Manage my caseload</h1>

        <p>Use this service to record:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>details of a death</li>
            <li>communication on the case</li>
            <li>a review of all medical records and concerns</li>
            <li>information on the proposed cause of death</li>
            <li>the conversation with the bereaved about the cause or circumstances of death, or concerns about care</li>
        </ul>

        <div class="nhsuk-form-group nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-7">
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive nhsuk-u-visually-hidden">Warning</span>
                You'll need to register to use this service.
                </strong>
            </div>
        </div>

        <a href="auth/sign-in" class="nhsuk-button">Start</a>


    </div>

  </div>
{% endblock %}
