<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

{% block breadcrumbs %}
<nav class="nhsuk-breadcrumb nhsuk-u-padding-bottom-0" aria-label="Breadcrumb">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="../open-cases">Open cases</a></li>
      <li class="nhsuk-breadcrumb__item">Coroner notification - {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}</li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" href="#">
        <span class="nhsuk-u-visually-hidden">Back to &nbsp;</span>
        Level three
      </a>
    </p>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl">Concerns notification</h1>
  </div>
  <!-- IF all sections are complete, display 'Close this case' button -->
  {% if data['create-and-assign-section'] and data['additional-details-section'] and data['location-of-death-section'] and data['pre-scrutiny-note-section'] and data['ap-prop-cause-of-death-section'] and data['me-independent-review-section'] and data['ap-discussion-section'] and data['discussion-with-main-section'] and data['coroner-notification-section'] and data['coroner-response-section'] %}
  <div class="nhsuk-grid-column-one-quarter">
    <a class="nhsuk-button nhsbsa-button--right-align" href="close-case">Close this case</a>
  </div>
  {% endif %}

    <div class="nhsuk-grid-column-full">

        <p>The medical examiner has decided that a concerns notification is required for this case.</p>
        <p><a href="record-comm-or-concern">Raise a concern about this case</a></p>

        <h2 class="nhsuk-heading-l">Concerns raised</h2>
        <table class="nhsuk-table">
            <caption class="nhsuk-table__caption nhsuk-u-visually-hidden">A table showing the concerns raised</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                    Concern type
                </th>
                <th role="columnheader" class="" scope="col">
                    Date raised
                </th>
                <th role="columnheader" class="" scope="col">
                    Concern recipient email
                </th>
                <th role="columnheader" class="" scope="col">
                    Status
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Record review</td>
                <td class="nhsuk-table__cell ">16/06/2023</td>
                <td class="nhsuk-table__cell ">emmit.mar@example.com</td>
                <td class="nhsuk-table__cell ">
                    <strong class="nhsuk-tag nhsuk-tag">
                        Delivered
                    </strong>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Record review</td>
                <td class="nhsuk-table__cell ">15/06/2023</td>
                <td class="nhsuk-table__cell ">kai.mar@example.com</td>
                <td class="nhsuk-table__cell ">
                    <strong class="nhsuk-tag nhsuk-tag--blue">
                        Sending
                    </strong>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="concerns-notification-cya">Record review</a></td>
                <td class="nhsuk-table__cell ">14/06/2023</td>
                <td class="nhsuk-table__cell ">lou.mar@example.com</td>
                <td class="nhsuk-table__cell ">
                    <strong class="nhsuk-tag nhsuk-tag--red">
                        Undelivered
                    </strong>
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Patient safety incident</td>
                <td class="nhsuk-table__cell ">17/06/2023</td>
                <td class="nhsuk-table__cell ">stu.mar@example.com</td>
                <td class="nhsuk-table__cell ">
                    <strong class="nhsuk-tag nhsuk-tag">
                        Delivered
                    </strong>
                </td>
              </tr>
            </tbody>
        </table>

    </div>

</div>

{% endblock %}

{% block sideNav %}
<div class="side-nav">
    <h3>{{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
        <span class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-top-2">
            <strong class="nhsuk-tag nhsuk-tag--blue">Routine</strong>
        </span>
    </h3>
    <ul>
      <div id="options" class="options">
        <li><a href="case-details">Case details</a></li>
  
         <!-- If an answer has been provided already for Over or Under 28 days after birth then show case scrutiny screen otherwise if no answer provided show Over or Under 28 days screen -->
        {% if data['over-under-28'] %}
          <li><a href="case-scrutiny">Case scrutiny</a></li>
        {% else %}
        <form action="case-scrutiny-link" method="post" id="run-28-days-once">
          <li><a href="#" onclick="document.getElementById('run-28-days-once').submit(); return false;">Case scrutiny</a></li>
        </form>
        {% endif %}
  
        <li><a href="comms-concerns">Communication and concerns</a></li>
        <li><a href="coroner-notification">Coroner notification</a></li>
        <li><a class="active" href="concerns-notification">Concerns notifications</a></li>
      </div>
    </ul>
</div>
{% endblock %}