{% extends 'layout-full-width.html' %}

{% block pageTitle %}
  Page templates - NHS.UK prototype kit
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Sorry, the service is unavailable</h1>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>You will be able to use the service from <strong>8pm</strong> on <strong>Saturday 2 December</strong>.</p>
          <p>From <strong>8pm</strong> on <strong>Saturday 2 December</strong> you will access the service using the new web address <a href="https://me-office-manage-my-caseload.nhsbsa.nhs.uk">https://me-office-manage-my-caseload.nhsbsa.nhs.uk</a>.</p>
          <p>When you first access the service, you will be prompted to change your password and update your Medical Examiner Service account or token on your authentication app. You will be emailed further details and a temporary password.</p>
        </div>

        <p>Contact the Medical Examiner Officer Support team if you need help or further information: <a href="mailto:meofficesupport@nhsbsa.nhs.uk">meofficesupport@nhsbsa.nhs.uk</a>.</p>
          

    </div>

  </div>
{% endblock %}
