<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-admin-interface.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}




<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    
    <section class="key-details">
       <ul>
         <li>
           <div class="patient-name">
             <span class="p-name">Patient name:</span>
             <h1>Kathleen Stark</h1>
           </div>
         </li>
         <li>
           <span>NHS number:</span>
           <p>123 456 789</p>
         </li>
         <li>
           <span>Date of death:</span>
           <p>5 August 2024</p>
         </li>
         <li>
           <span>Case type:</span>
           <p>Hospital</p>
         </li>
        <!-- <li>
           <a href="#" class="nhsuk-button nhsuk-button--secondary mb0">Close case</a>
         </li> -->
       </ul>
     </section>
    
  </div>
</div>



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">



{% from 'back-link/macro.njk' import backLink %}

{{ backLink({
"href": "javascript:history.back()",
"text": "Go back"
}) }}


<h1 class="nhsuk-heading-l mb40">
  
  <span class="nhsuk-caption-m nhsuk-caption--bottom">
    Attending practitioner's proposed cause of death</span>
Record proposed cause of death
</h1>



<div id="qap-callout" class="nhsuk-warning-callout">
    <h2 class="nhsuk-warning-callout__label">
        <span>
            Important
        </span>
    </h2>
    <p>You should enter the cause of death proposed by the AP exactly as stated.
    </p>
</div>

<form action="case-scrutiny" method="post">
  

    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-width-one-half" for="qapFirstNames">
            First name
        </label>
        <input class="nhsuk-input nhsuk-u-width-one-half" id="qapFirstNames" name="qapFirstNames" type="text">
    </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-width-one-half" for="qapLastName">
            Last name
        </label>
        <input class="nhsuk-input nhsuk-u-width-one-half" id="qapLastName" name="qapLastName" type="text">
    </div>
    
    <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-u-width-one-half" for="contactBleepNumber">
          Contact phone or bleep number <span class="optional-span">(optional)
      </label>
      <input class="nhsuk-input nhsuk-u-width-one-half" id="contactBleepNumber" name="contactBleepNumber" type="text" value="{{ data['contactBleepNumber'] }}">
  </div>

  <div class="nhsuk-form-group">
      <label class="nhsuk-label nhsuk-u-width-one-half" for="gmcNumber">
          GMC number <span class="optional-span">(optional)
      </label>
      <input class="nhsuk-input nhsuk-u-width-one-half" id="gmcNumber" name="gmcNumber" type="text" value="{{ data['gmcNumber'] }}">
  </div>

    <div class="nhsuk-form-group">
        <label class="nhsuk-label nhsuk-u-width-two-thirds" for="causeOfDeathSummary">
            Cause of death summary
        </label>
        <textarea class="nhsuk-textarea" id="causeOfDeathSummary"
            name="causeOfDeathSummary" rows=" 10 "></textarea>
    </div>

    <div class="nhsuk-u-margin-bottom-8">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="causeOfDeath1a">
                1(a) disease or condition directly leading to death (required)
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="causeOfDeath1a" name="causeOfDeath1a"
                type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="onsetInterval1a">
                Approximate interval between onset of 1(a) and death
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="onsetInterval1a" name="onsetInterval1a"
                type="text">
        </div>
    </div>
    <div class="nhsuk-u-margin-bottom-8">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="causeOfDeath1b">
                1(b) other disease or condition leading to 1(a) (optional)
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="causeOfDeath1b" name="causeOfDeath1b"
                type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="onsetInterval1b">
                Approximate interval between onset of 1(b) and death
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="onsetInterval1b" name="onsetInterval1b"
                type="text">
        </div>
    </div>
    <div class="nhsuk-u-margin-bottom-8">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="causeOfDeath1c">
                1(c) other disease or condition leading to 1(b) (optional)
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="causeOfDeath1c" name="causeOfDeath1c"
                type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="onsetInterval1c">
                Approximate interval between onset of 1(c) and death
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="onsetInterval1c" name="onsetInterval1c"
                type="text">
        </div>
    </div>
    <div class="nhsuk-u-margin-bottom-8">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="causeOfDeath2">
                2 - Other significant conditions (optional)
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="causeOfDeath2" name="causeOfDeath2"
                type="text">
        </div>
        <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-u-width-one-half" for="onsetInterval2">
                Approximate interval between onset of 2 and death
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="onsetInterval2" name="onsetInterval2"
                type="text">
        </div>
    </div>

<div class="nhsuk-checkboxes__item nhsuk-visually-hidden">
  <input class="nhsuk-checkboxes__input" id="readyForDiscussion" name="declaration2"
      type="checkbox" value="readyForDiscussion" checked="checked">
  <label class="nhsuk-label nhsuk-checkboxes__label" for="readyForDiscussion">
      I confirm that this section is complete and ready for the discussion between the AP and
      the medical examiner or medical examiner officer
  </label>
</div>



        
        
    <button class="nhsuk-button" id="save-and-continue-button" type="submit" name="ap-complete-section">
        Save and continue
    </button>

</form>


  </div>
</div>

{% endblock %}




{% block sideNav %}
<div class="side-nav">
  
  
 <!--<div class="case-type-details">
   
      
<div class="nhsuk-back-link">

  <a class="nhsuk-back-link__link" href="../open-cases2">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Back to case list</a>
</div>

  
 </div>
  
  
  <ul>
    <div id="options" class="options">
      <li><a class="active" href="case-timeline">Case timeline</a></li>
      <li><a href="case-details">Case details</a></li>
      <li><a href="case-scrutiny">Case scrutiny</a></li>
      
    </div>
  </ul>
-->
    
</div>
{% endblock %}