<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Medical Examiner Office - Manage my caseload
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full-width">

      <span class="nhsuk-caption-xl">Manage my caseload</span>
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">Medical Examiner Service</h1>
      <p>Medical Examiners and Medical Examiner Officers will use this service to log cases, record their scrutiny of non-coronial deaths, and refer to a coroner if necessary.</p>

      <!-- ======================================= -->
      <!-- CURRENT VERSION -->
      <!-- ======================================= -->

      <h2 class="nhsuk-heading-l">Current version</h2>
      <p>This version of the prototype matches as close as possible to what is currently live.</p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="current/index?user-type=meo">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Medical Examiner Officers Journey</span>
        </a>
      </div>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="current/index?user-type=me">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Medical Examiner Journey</span>
        </a>
      </div>

      <div class="nhsuk-hint" id="contact-hint">Last updated: 3rd August 2023</div>

      <hr>

      <!-- ======================================= -->
      <!-- ITERATIONS -->
      <!-- ======================================= -->

<h2 class="nhsuk-heading-l">Iterations</h2>


<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Decision log for Sprint 12</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Version
        </th>
        <th role="columnheader" class="" scope="col">
          Status
        </th>
        <th role="columnheader" class="" scope="col">
          Notes
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>20
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--red">In progress</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes</span>
          <ul>
            <li><a href="v20-e2e/index?user-type=meo">CIS2 Authentication</a></li>
            <li><a href="v20-e2e/ME-MEO/case/case-scrutiny">Consultant details</a></li>
          </ul>
          <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action </span>
            <!--<p><a href="v19/index?user-type=meo">Medical Examiner Officers Journey</a></p>
            <p><a href="v19/index?user-type=me">Medical Examiner Journey</a></p>-->
        </td>
      </tr>
      </tr>
    </tbody>
  </table>
  <br>
  <br>



<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Decision log for Sprint 11</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Version
        </th>
        <th role="columnheader" class="" scope="col">
          Status
        </th>
        <th role="columnheader" class="" scope="col">
          Notes
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>20
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--green">Done</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes</span>
          <ul>
            <li><a href="v20-e2e/ME-MEO/open-cases">Create new case - with merged additional details and next of kin</a></li>
            <li><a href="v20-e2e/ME-MEO/open-cases-sp11">Create new case - continuous flow</a></li>
            <li><a href="v20-e2e/ME-MEO/case/next-of-kin">Next of kin details</a></li>
            <li><a href="v20-e2e/ME-MEO/case/create-new-case-sp11">Merge additional details</a></li>
            <li><a href="v20-e2e/ME-MEO/case/under-28/28-days">Amended 28 days question</a></li>
            <li><a href="v20-e2e/ME-MEO/case/pre-scrutiny-note">Declaration removed from pre scrutiny notes</a></li>
          </ul>
          <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action </span>
            <!--<p><a href="v19/index?user-type=meo">Medical Examiner Officers Journey</a></p>
            <p><a href="v19/index?user-type=me">Medical Examiner Journey</a></p>-->
        </td>
      </tr>
      </tr>
    </tbody>
  </table>
  <br>
  <br>



<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Decision log for Sprint 8</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Version
        </th>
        <th role="columnheader" class="" scope="col">
          Status
        </th>
        <th role="columnheader" class="" scope="col">
          Notes
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>19
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--green">Done</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes</span>
          <ul>
            <li><a href="v19/ME-MEO/case/notes">Case notes concept</a></li>
          </ul>
          <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action </span>
            <p><a href="v19/index?user-type=meo">Medical Examiner Officers Journey</a></p>
            <p><a href="v19/index?user-type=me">Medical Examiner Journey</a></p>
        </td>
      </tr>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption">Decision log for Sprint 5 & 6</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Version
        </th>
        <th role="columnheader" class="" scope="col">
          Status
        </th>
        <th role="columnheader" class="" scope="col">
          Notes
        </th>
        <th role="columnheader" class="" scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Version </span>18
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Status </span>
          <span class="nhsuk-tag nhsuk-tag--green">Done</span>
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Notes </span>
          <ul>
            <li><a href="https://bsa2468.atlassian.net/browse/MES-4172?atlOrigin=eyJpIjoiNWFiM2FkZTUxYzM3NGNkZDgwYmNmN2IwOWZjNzkyYjYiLCJwIjoiaiJ9">MES-4172 - Consistency of language around scrutiny</a></li>
            <li><a href="https://bsa2468.atlassian.net/browse/MES-4180?atlOrigin=eyJpIjoiOTJkNDRkNTU4OTczNGMyNGFiNGUyYTllNWQwZmExMTEiLCJwIjoiaiJ9">MES-4180 - Rpaid release hint text</a></li>
            <li><a href="https://bsa2468.atlassian.net/browse/MES-4184?atlOrigin=eyJpIjoiNTVjN2JjN2IwNWYyNDhhYWIyOWRlZDM3YjY4MWM1ZWUiLCJwIjoiaiJ9">MES-4184 - Acute setting headings</a></li>
            <li><a href="https://bsa2468.atlassian.net/browse/MES-4185?atlOrigin=eyJpIjoiZDNkNTFhMjVkZjhlNGM0MjhmNWY5Mzk0MTM2ODdmYzQiLCJwIjoiaiJ9">MES-4185 - Non-acute setting hint text</a></li>
          </ul>
          <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
        </td>
         <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Action </span>
            <p><a href="v18/auth/sign-in?user-type=meo">Medical Examiner Officers Journey</a></p>
            <p><a href="v18/auth/sign-in?user-type=me">Medical Examiner Journey</a></p>
        </td>
      </tr>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

 <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Decision log for Sprint 4</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Version
          </th>
          <th role="columnheader" class="" scope="col">
            Status
          </th>
          <th role="columnheader" class="" scope="col">
            Notes
          </th>
          <th role="columnheader" class="" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Version </span>17
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>
            <span class="nhsuk-tag nhsuk-tag--green">Done</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Notes </span>
            <ul>
              <li>Case concerns ideation</li>
              <li>Prototype quick wins eg Content improvements from audit (Part 1)</li>
              <li>Coroner notification</li>
            </ul>
            <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
          </td>
           <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span>
              <p><a href="v17/auth/sign-in?user-type=meo">Medical Examiner Officers Journey</a></p>
              <p><a href="v17/auth/sign-in?user-type=me">Medical Examiner Journey</a></p>
          </td>
        </tr>
        </tr>
      </tbody>
    </table>
    <br>
    <br>

  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Decision log for Sprint 3</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Version
          </th>
          <th role="columnheader" class="" scope="col">
            Status
          </th>
          <th role="columnheader" class="" scope="col">
            Notes
          </th>
          <th role="columnheader" class="" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Version </span>16
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>
            <span class="nhsuk-tag nhsuk-tag--green">Done</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Notes </span>
            <ul>
              <li>Add new section to case scrutiny when new cause of death agree between ME and AP</li>
              <li>Further stabilise prototype with more fixes to enable reliable end to end user testing and demo's</li>
             </ul> 
            <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
          </td>
           <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span>
              <p><a href="v16/auth/sign-in?user-type=meo">Medical Examiner Officers Journey</a></p>
              <p><a href="v16/auth/sign-in?user-type=me">Medical Examiner Journey</a></p>
          </td>
        </tr>
        </tr>
      </tbody>
    </table>
    <br>
    <br>

  <table role="table" class="nhsuk-table-responsive">
    <caption class="nhsuk-table__caption">Decision log for Sprint 2</caption>
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Version
          </th>
          <th role="columnheader" class="" scope="col">
            Status
          </th>
          <th role="columnheader" class="" scope="col">
            Notes
          </th>
          <th role="columnheader" class="" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Version </span>15
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Status </span>
            <span class="nhsuk-tag nhsuk-tag--green">Done</span>
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Notes </span>
            <ul>
              <li><a href="https://bsa2468.atlassian.net/browse/MES-4113" target="_blank">Extensive fixes</a> across all sections for Research and stakeholder demo readiness (opens in new tab)</a></li>
              <li>Created <a href="v15/ME-MEO/open-cases-responsive?user-type=meo">responsive table component</a> since analytics say 6.6% of users on mobile devices. Fixes horizontal scrolling issue on case view screens.</li>
              <li>Fixing broken links to case scrutiny detail screens from main case scrutiny screen</li>
              <li>Fixing typo's</li>
              <li>Shorten some page's line lengths as less readable</li>
            </ul>
            <p>Based on <a href="https://miro.com/app/board/uXjVNAYB9vo=/" target="_blank">new user flow (opens in new tab)</a> (WIP)</p>
            <a href="https://bsa2468.atlassian.net/wiki/spaces/ME/pages/4348903425/MES+UCD+decision+log" target="_blank">Design decision log for more context (opens in new tab)</a>
          </td>
           <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Action </span>
              <p><a href="v15/auth/sign-in?user-type=meo">Medical Examiner Officers Journey</a></p>
              <p><a href="v15/auth/sign-in?user-type=me">Medical Examiner Journey</a></p>
          </td>
        </tr>
        </tr>
      </tbody>
    </table>
    <br>
    <br>


      <!-- Version 14 -->
      <details class="nhsuk-details" data-module="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version 14 - Save as Draft & Case Concerns
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">Save as Draft & Case Concerns</h2>
          <p class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-bottom-3">Implement the feature for users to save a case as draft</p>
          <p><a href="v14/auth/sign-in?user-type=meo">Medical Examiner Officers Journey</a></p>
          <p><a href="v14/auth/sign-in?user-type=me">Medical Examiner Journey</a></p>
          <h3 class="nhsuk-heading-s">What we created</h3>
          <ul>
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-s">What we plan to test</h3>
          <ul>
            <li>...</li>

          </ul>
          <h3 class="nhsuk-heading-s">What we found</h3>
          <ul>
            <li>...</li>
          </ul>
          <h3 class="nhsuk-heading-s">Any known issues</h3>
          <ul>
            <li>...</li>
          </ul>
        </div>
      </details>

      <!-- Version 13 -->
      <details class="nhsuk-details" data-module="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Version 13 - Not in Use (merged with V14)
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">Case Concerns</h2>
          <p class="nhsuk-caption-m nhsuk-caption--bottom nhsuk-u-margin-bottom-3"></p>
          <h3 class="nhsuk-heading-s">Information</h3>
          <ul>
            <li>Prototype no longer in use due to the save as draft and case concerns projects overlapping both in delivery times and functionality.</li>
          </ul>
  
          <!--<p><a href="v13/auth/sign-in?user-type=meo">Medical Examiner Officers Journey</a></p>
          <p><a href="v13/auth/sign-in?user-type=me">Medical Examiner Journey</a></p>-->

        </div>
      </details>

      <hr>

      <!-- ======================================= -->
      <!-- HISTORIC VERSION -->
      <!-- ======================================= -->

      <h2 class="nhsuk-heading-l">Historic versions</h2>
      <p>To view previous versions go to the old <a href="https://medical-examiners.herokuapp.com/">Medical Examiners Prototype</a>.</p>
      <p><strong>Username and Password:</strong> medex</p>

    </div>
  </div>
{% endblock %}
