<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-full-width.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
Case details
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        {{ backLink({
        "href": "javascript:history.back()",
        "text": "Go back"
        }) }}

        <h1>
            <span class="nhsuk-caption-m nhsuk-caption--bottom">
                Discussion with the attending practitioner about the cause of death - {{ data['deceased-first-name'] }} {{ data['deceased-last-name'] }}
            </span>
            Record discussion
        </h1>

        <form action="record-discussion-ap" method="post">

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-one-half" for="ap-prop-first-name">
                    First name of the AP who proposed the cause of death
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="ap-prop-first-name" name="ap-prop-first-name" type="text" value="{{ data['ap-prop-first-name'] }}">
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-one-half" for="ap-prop-last-name">
                    Last name of the AP who proposed the cause of death
                </label>
                <input class="nhsuk-input nhsuk-input--width-20" id="ap-prop-last-name" name="ap-prop-last-name" type="text" value="{{ data['ap-prop-last-name'] }}">
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="dateOfDiscussion-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                        Date of discussion
                    </legend>
                    <div class="nhsuk-hint" id="dateOfDiscussion-hint">
                        For example, 15 3 2021
                    </div>
                    <div class="nhsuk-date-input" id="dateOfDiscussion">
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="dateOfDiscussion-day">
                                    Day
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                    id="dateOfDiscussion-day" name="dodDay" type="text" pattern="[0-9]*"
                                    inputmode="numeric" value="{{ data['dodDay'] }}">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="dateOfDiscussion-dodMonth">
                                    Month
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                    id="dateOfDiscussion-dodMonth" name="dodMonth" type="text" pattern="[0-9]*"
                                    inputmode="numeric" value="{{ data['dodMonth'] }}">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="dateOfDiscussion-dodYear">
                                    Year
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4"
                                    id="dateOfDiscussion-dodYear" name="dodYear" type="text" pattern="[0-9]*"
                                    inputmode="numeric" value="{{ data['dodYear'] }}">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset" aria-describedby="timeOfDiscussion-hint" role="group">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                        Time of discussion
                    </legend>
                    <div class="nhsuk-hint" id="timeOfDiscussion-hint">
                        Use 24 hour format. For example, 16 23
                    </div>
                    <div class="nhsuk-date-input" id="timeOfDiscussion">
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="timeOfDiscussion-hour">
                                    Hour
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                    id="timeOfDiscussion-hour" name="todHour" type="text" pattern="[0-9]*"
                                    inputmode="numeric" value="{{ data['todHour'] }}">
                            </div>
                        </div>
                        <div class="nhsuk-date-input__item">
                            <div class="nhsuk-form-group">
                                <label class="nhsuk-label nhsuk-date-input__label" for="timeOfDiscussion-todMinute">
                                    Minutes
                                </label>
                                <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2"
                                    id="timeOfDiscussion-todMinute" name="todMinute" type="text" pattern="[0-9]*"
                                    inputmode="numeric" value="{{ data['todMinute'] }}">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="nhsuk-form-group">
                <label class="nhsuk-label nhsuk-u-width-two-thirds" for="detailsOfDiscussion">
                    Details of the discussion
                </label>
                <textarea class="nhsuk-textarea nhsuk-u-width-two-thirds minchar" id="detailsOfDiscussion"
                    name="detailsOfDiscussion" rows="5" maxlength="3000">{{ data['detailsOfDiscussion'] }}</textarea>
                    <div class="nhsuk-hint nhsuk-character-count__message rechar" id="discussionDetail-info">
                    You can enter up to 3000 characters
                    </div>
            </div>

            <div class="nhsuk-form-group">
                <div class="govuk-warning-text nhsuk-form-group nhsuk-u-width-two-thirds">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <span class="govuk-warning-text__text">
                        <span class="visually-hidden">Warning</span>
                        Your selection will have a direct impact on the cause of death that appears on the MCCD
                        (medical certificate of cause of death)
                    </span>
                </div>
            </div>

            <div class="nhsuk-form-group">
                <fieldset class="nhsuk-fieldset">
                    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__heading-l">
                        Agreed outcome of the discussion
                    </legend>
                    <div class="nhsuk-radios">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="discussion-qap" name="record-discussion-ap" type="radio"
                                value="The AP's proposed cause of death will appear on the MCCD">
                            <label class="nhsuk-label nhsuk-radios__label" for="discussion-qap">
                                The AP's proposed cause of death will appear on the MCCD
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="discussion-medical-examiner" name="record-discussion-ap"
                                type="radio" value="The medical examiner's proposed cause of death will appear on the MCCD">
                            <label class="nhsuk-label nhsuk-radios__label" for="discussion-medical-examiner">
                                The medical examiner's proposed cause of death will appear on the MCCD
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="discussion-different" name="record-discussion-ap"
                                type="radio" value="A different cause of death, agreed by the AP and medical examiner, will appear on the MCCD">
                            <label class="nhsuk-label nhsuk-radios__label" for="discussion-different">
                                A different cause of death, agreed by the AP and medical examiner, will appear on the
                                MCCD
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="discussion-no-mccd" name="record-discussion-ap" type="radio" value="No MCCD will be generated, as the coroner is being notified about this case">
                            <label class="nhsuk-label nhsuk-radios__label" for="discussion-no-mccd">
                                No MCCD will be generated, as the coroner is being notified about this case
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="nhsuk-button" id="save-and-continue-button" type="submit">
                Save and continue
            </button>

            <button formaction="save-draft-APCOD" method="post" class="nhsuk-button nhsuk-button--secondary" type="submit">
                Save as draft
            </button>

        </form>


    </div>

</div>

{% endblock %}
